<div style="padding:5px">
    <style>
        .panel-styles {
            margin-bottom: 0px;
        }
    </style>
    <div ng-show="vm.$layerService.noStyles" translate="STYLE_INFO"></div>
    <div class="scrolling" style="overflow-y: auto;    overflow-x: hidden;    position: absolute;    left: 0;    right: 0;    top: 0;    bottom: 0;">
        <div class="panel" style="margin-bottom:10px">
            <div role="tab" id="heading-active-styles">                
                <div class="group-title">
                    Active Styles                    
                </div>
            </div>

            <div data-ng-repeat="group in vm.$layerService.project.groups" style="margin-left: 10px;clear:left;">
                <div>

                    <div data-ng-repeat="style in group.styles" style="height: 41px;">
                        <div class="checkbox checkbox-primary" style="float:left">
                            <input type="checkbox" id="cbstyle{{style.id}}" ng-model="style.enabled" data-ng-change="vm.$layerService.updateStyle(style);">
                            <label class="style-title" for="cbstyle{{style.id}}" style="max-width:300px">{{style.title}}</label>
                        </div>

                        <div style="float:right;width: 48px">
                            <div data-ng-show="style.canSelectColor" style="float:left">
                                <div class="dropdown">
                                    <div class="style-settings" data-toggle="dropdown">
                                        <style>

                                        </style>
                                        <!--<img src="includes/images/fillcolor.png" style="width: 32px; height:32px" />-->
                                        <div id="colors" style="border-radius: 50%;width: 20px;height:20px;border-style:solid;border-color: black;border-width: 1px;"
                                        ng-style="{'background-image': 'linear-gradient(to right,'+style.colors[0]+','+style.colors[1]+')'}">
                                        </div>
                                        <b class="caret"></b>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;left:initial;white-space:nowrap;min-width:130px">
                                        <li ng-repeat="(key,val) in style.colorScales" style="margin:3px;cursor: pointer">
                                            <span ng-click="vm.$layerService.updatePropertyStyle(key,val,$parent);
                                                  $parent.style.colors = val;
                                                  vm.$layerService.updateStyle($parent.style)">{{key}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div style="float:right">
                                <div class="dropdown">
                                    <div class="style-settings" data-toggle="dropdown">
                                        <div class="style-aspect style-{{style.visualAspect}}"></div><b class="caret"></b>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" style="right:0;left:auto;left:initial;white-space:nowrap;min-width:130px">
                                        <li ng-repeat="title in style.availableAspects" style="margin:3px;cursor: pointer">
                                            <i class="style-aspect style-{{title}}" style="float:left" />
                                            <span ng-click="$parent.style.visualAspect = title;vm.$layerService.updateStyle($parent.style)">
                                                <img class="fa fa-search" style="margin-right: 8px" /> {{title}} </span>
                                        </li>
                                        <li class="divider"></li>
                                        <li style="margin:3px;cursor: pointer"><i class="fa fa-remove" style="margin-right: 8px; float:left" />
                                            <span ng-click="vm.$layerService.removeStyle(style)">Verwijder</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="style.activeLegend && style.enabled" style="float:left;clear:left">
                            <div data-ng-if="style.activeLegend.legendKind === 'discrete' || style.activeLegend.legendKind === 'discreteStrings'  ">
                                <div class="legend-description">{{style.activeLegend.description}}</div>
                                <ul class="legend-entry-list" style="position:relative">
                                    <li data-ng-repeat="le in style.activeLegend.legendEntries | reverse" class="legend-entry-item-d">
                                        <div class="legend-color-square" ng-style="{'float': 'left', 'background': le.color}"></div>
                                        <div class="legend-label-d" style="float: left">{{le.label}}</div>
                                        <div>&nbsp;</div>
                                        <!-- die &nbsp; is echt nodig... -->
                                    </li>
                                </ul>
                            </div>
                            <div data-ng-if="style.activeLegend.legendKind === 'interpolated'">
                                <div class="legend-description">{{style.activeLegend.description}}</div>
                                <ul class="legend-entry-list" style="position:relative">
                                    <li data-ng-repeat="(key, le) in style.activeLegend.legendEntries | reverse" class="legend-entry-item-i">
                                        <div ng-if="key < style.activeLegend.legendEntries.length-1" class="legend-color-gradient-rect" ng-style="vm.getStyle(style.activeLegend, le, key)"></div>
                                        <div class="legend-label-i">{{le.label}}</div>
                                        <!-- die &nbsp; is echt nodig... -->
                                        <div>&nbsp;</div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <!-- wizard -->

        <p></p>
        <div id="accordion" role="tablist" aria-multiselectable="false" style="clear:both;margin-left:10px">
            <div class="panel" style="margin-bottom:5px">
                <div role="tab" id="headingLayers">
                    <div style="float: left;margin-right:5px" data-toggle="collapse" aria-expanded="true" data-target="#styles_groups"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
                    <div class="group-title">
                        <div role="button" data-toggle="collapse" data-parent="#accordion" data-target="#styles_groups" aria-expanded="true" aria-controls="styles_groups"
                        translate="SELECT_LAYER_GROUP">
                        </div>
                    </div>
                </div>
                <div id="styles_groups" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLayers">
                    <div>
                        <div data-ng-repeat="group in vm.$layerService.project.groups" style="margin-left: 10px;clear:left;">
                            <div class="btn" ng-if="group._gui['sections']" ng-click="vm.selectGroup(group)">{{group.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" ng-if="vm.selectedGroup._gui['showSections']" style="margin-bottom:5px">
                <div role="tab" id="headingSections">
                    <div style="float: left;margin-right:5px" data-toggle="collapse" aria-expanded="true" data-target="#styles_sections"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
                    <div class="group-title">
                        <div class="collapsed" id="styles_categories_header" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#styles_sections"
                        aria-expanded="false" aria-controls="styles_sections" translate="SELECT_CATEGORY">                            
                        </div>
                    </div>
                </div>
                <div id="styles_sections" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSections">
                    <div>
                        <div data-ng-repeat="(key,section) in vm.selectedGroup._gui['sections']">
                            <div class="btn" ng-if="vm.selectedGroup._gui['sections']" ng-click="vm.selectSection(section)">{{key}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" ng-if="vm.selectedSection" style="margin-bottom:5px">
                <div role="tab" id="headingProperties">
                    <div style="float: left;margin-right:5px" data-toggle="collapse" aria-expanded="true" data-target="#styles_properties"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
                    <div class="group-title">
                        <div class="collapsed" id="styles_properties_header" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#styles_properties"
                        aria-expanded="false" aria-controls="styles_properties" translate="SELECT_PROPERTIES">                            
                        </div>
                    </div>
                </div>
                <div id="styles_properties" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingProperties">
                    <div data-ng-repeat="(l,p) in vm.selectedSection.properties">
                        <div class="btn" ng-class="{'property-style-selected': vm.activeStyles.indexOf(p.label) > -1}" ng-click="vm.setStyle(vm.selectedGroup,p)">
                            {{p.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>