<div style="background:white">
    <h4 class="rightpanel-header">&nbsp;&nbsp;SimTimeController Editor</h4>
    <div style="margin-left:5px;margin-right:20px">
        <div class="col-md-3">
            <select ng-model="data.httpMethod" ng-options="method.name for method in methods" class="input-xlarge" style="font-size: 1.35em; margin-right: 20px;">
            </select>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <input id="urlAddress" name="text" type="text" ng-model="data.url" placeholder="/Sim/SimTime" class="input-xlarge">
        </div>
    </div>
</div>
