<div style="margin-top: 20px;">
    <style>
        .horizontalstack {
            display: flex;
            flex-direction: row;
            flex-wrap: no-wrap;
            justify-content: center;
            align-items: center;
        }
        .verticalstack {
            display: flex;
            flex-direction: column;
            flex-wrap: no-wrap;
            justify-content: center;
            align-items: center;
        }
        .stackitem {
            margin: 5px;
        }
        .disabledImg {
            opacity: 0.4;
            filter: alpha(opacity=40); /* msie */
            background-color: #000;
        }
    </style>

    <div class="horizontalstack">
        <a href="#" ng-click="vm.stop()" class="stackitem">
            <img src="cs/images/widgets/Media-Stop.png" alt="Stop" ng-class="{disabledImg: !vm.isPlaying}">
        </a>
        <a href="#" ng-show="vm.isPlaying" ng-click="vm.pause()" class="stackitem">
            <img src="cs/images/widgets/Media-Pause.png" alt="Pause">
        </a>
        <a href="#" ng-show="!vm.isPlaying" ng-click="vm.play()" class="stackitem">
            <img src="cs/images/widgets/Media-Play.png" alt="Play">
        </a>

        <a href="#" ng-click="vm.setTime()" class="stackitem">
            <img src="cs/images/widgets/Clock.png" alt="Set time" ng-class="{disabledImg: !vm.isStopped}">
        </a>

        <div class="verticalstack">
            <a href="#" ng-click="vm.increaseSpeed()">
                <img src="cs/images/widgets/IncreaseSpeed.png" alt="Increase speed" style="width:24px;height:24px">
            </a>
            <a href="#" ng-click="vm.decreaseSpeed()">
                <img src="cs/images/widgets/DecreaseSpeed.png" alt="Decrease speed" style="width:24px;height:24px;">
            </a>
        </div>
        <a href="#">
            <img src="cs/images/widgets/Speed.png" alt="Speed" style="margin: 5px 5px 5px 0;">
        </a>
        <span style="font-size: 2em">{{vm.speed}}x</span>
    </div>

    <div class="horizontalstack" style="font-size: 2em;">
        <clock time="vm.time" format="dd-MM-yyyy HH:mm:ss" class="stackitem"></clock>
    </div>

    <!-- Show the time -->


    <!-- REST toolbox widget -->
    <!-- <div class="horizontalstack" style="justify-content: right; margin: 5px 0 5px 5px;">
        <div class="verticalstack">
            <a href="#" ng-click="vm.editScript()">
                <img src="cs/images/widgets/Edit.png" alt="Increase speed" style="width:24px;height:24px">
            </a>
            <a href="#" ng-click="vm.addScript()">
                <img src="cs/images/widgets/Add.png" alt="Decrease speed" style="width:24px;height:24px;">
            </a>
        </div>
        <a href="#" ng-click="vm.execute()" style="margin: 5px 5px 5px 0;">
            <img src="cs/images/widgets/Execute.png" alt="Stop">
        </a>
    </div> -->

</div>
