<div class="modal-content" style="width:800px">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="vm.cancel()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add Layer</h3>
    </div>
    <div class="modal-body container-fluid">
        <tabset>
            <tab heading="Directory" ng-if="vm.project.layerDirectory">{{vm.project.layerDirectory}}</tab>
            <tab heading="New Layer">New Layer</tab>
            <!-- <tab heading="Long Justified">Long Labeled Justified content</tab> -->
        </tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-ng-click="vm.cancel()" translate>CANCEL_BTN</button>
        <button type="button" class="btn btn-primary" data-ng-click="vm.done()" translate>OK_BTN</button>
    </div>
</div>
