<div>
    <h3 class="leftpanel-header" style="width: 100%">
        <span translate="LAYERS" />
        <div ng-show="vm.$mapService.isAdminExpert" class="leftpanel-header-button-container">
            <button class="button fa fa-plus leftpanel-header-button" ng-click="vm.addLayer()" />
        </div>
    </h3>
    <div style="overflow-y: auto; overflow-x: hidden; margin-top: -10px" resize resize-y="95">
        <div data-ng-repeat="group in vm.$layerService.project.groups" style="margin-left: 5px;position:relative;">
            <div style="float: left; margin-left: -5px; margin-top: 5px" data-toggle="collapse" data-target="#layergroup_{{group.id}}"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
            <div popover="{{(group.description) ? group.description : ''}}" popover-placement="right" popover-width="400" popover-trigger="mouseenter" class="group-title">{{group.title}}</div>
            <div ng-show="vm.$mapService.isAdminExpert" class="fa fa-cog" style="position:absolute;right:20px;top:3px;cursor:pointer" ng-click="vm.editGroup(group)"></div>
            <div id="layergroup_{{group.id}}" class="collapse in">
                <div popover="{{(layer.description) ? layer.description : ''}}" popover-placement="right" popover-trigger="mouseenter" data-ng-repeat="layer in group.layers">
                    <!--bs-popover>-->
                    <div context-menu="options(layer)" style="list-style-type: none; padding: 0;" data-ng-class="{indent: layer.isSublayer}">
                        <!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Right</button>-->
                        <div ng-if="!group.oneLayerActive" class="checkbox checkbox-primary" style="margin-left: 20px">
                            <input type="checkbox" id="cblayer{{layer.id}}" ng-model="layer.enabled" data-ng-click="vm.toggleLayer(layer);">
                            <label for="cblayer{{layer.id}}">
                                {{layer.title}}
                            </label>
                            <div ng-show="layer.enabled" class="left-menu dropdown-toggle pull-left" ng-click="vm.openLayerMenu($event)">
                            </div>
                            <div ng-show="layer.isLoading" class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <div ng-show="vm.$mapService.isAdminExpert" class="fa fa-cog" style="position:absolute;right:20px;top:3px;cursor:pointer" ng-click="vm.editLayer(layer)"></div>
                        </div>
                        <div ng-if="group.oneLayerActive" class="radio radio-primary" style="margin-left: 20px">
                            <input type="radio" ng-value="true" id="rblayer{{layer.id}}" ng-model="layer.enabled" data-ng-click="vm.toggleLayer(layer);">
                            <label for="rblayer{{layer.id}}">
                                {{layer.title}}
                            </label>
                            <div ng-show="layer.enabled" class="left-menu dropdown-toggle pull-left" ng-click="vm.openLayerMenu($event)">
                            </div>
                            <div ng-show="layer.isLoading" class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <div ng-show="vm.$mapService.isAdminExpert" class="fa fa-cog" style="position:absolute;right:4px;top:3px;cursor:pointer" ng-click="vm.editLayer(layer)"></div>
                        </div>
                        <!-- <div>
                            <input type="number" data-ng-model="layer.opacity">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
