text eol=lf

# These files are text and should be normalized (Convert crlf => lf)
*.asc text
*.bat text
.bithoundrc text
*.css text
.editorconfig text
*.c text
*.cc text
*.txt text
*.gitignore text
*.gltf text
*.gpx text
*.html text
*.js text
*.json text
*.kml text
*.map text
*.md text
*.sh text
*.tx text
*.xml text
*.yml text

# These files are binary and should be left untouched
*.7z binary
*.PNG binary
*.png binary
*.bson binary
*.bz2 binary
*.eot binary
*.gif binary
*.gz binary
*.ico binary
*.jpg binary
*.otf binary
*.pptx binary
*.svg binary
*.ttf binary
*.woff binary
*.woff2 binary
*.xlms binary
*.zip binary
