csServerComp/obj/
csComp/obj/
csComp/dist/
csCompTests/obj/
csCompTests/dist/
csCompTests/node_modules/
csCompTests/bower_components/
csCompTests/csComp/
*.orig
csServerComp/OfflineSearch/dist/
csServerComp/OfflineSearch/OfflineSearcher.d.ts
csServerComp/OfflineSearch/OfflineSearcher.js
