bower/bower_components/

*tsconfig.json

*.config
coverage/

out/
.vscode/

csComp/dist/
csComp/includes/bower_dep/bower_components/
csComp/includes/css/csStyles.css
csComp/js/
csComp/obj/
csDataGatherer/public/data/
csServerComp/Classes/Feature.d.ts
csServerComp/Classes/Feature.js
csServerComp/obj/
csServerComp/ServerComponents/**/*.d.ts
csServerComp/ServerComponents/**/*.js

dist-bower/
dist-bower/**/*.*

dist-npm/
dist-npm/**/*.d.ts
dist-npm/**/*.js
dist-npm/ServerComponents/

example/dist/
example/layers/*.js
example/node_modules/
example/public/app/*.js
example/public/bower_components/
example/public/cs/
example/public/data/
example/public/data/projects/AHTI/
example/public/data/projects/DynamicExample/
example/public/data/projects/test/
example/public/includes/
example/Scripts/typings/cs/csComp.d.ts
example/ServerComponents/
example/server.js
example/services/**/*.js
example/.settings/
example/.vscode/

node_modules/
OfflineSearch
*.orig

test/csComp/**/*.js
test/csComp/spec/classes/datasource.spec.js
test/csComp/spec/classes/feature.spec.js
test/csComp/spec/classes/group.spec.js
test/csComp/spec/classes/project.spec.js
test/csComp/spec/directives/**/*.spec.js
test/csComp/spec/services/bus/MessageBus.spec.js
test/csComp/spec/services/layer/LayerService.spec.js
test/csComp/spec/**/*.spec.js
test/Scripts/
.vscode/
tmp.txt
test/bower_components/
