<!DOCTYPE html>
<html ng-app="csWebApp">

<head>
    <!--[if lt IE 9]>
        <script>
            alert("This application does not work on IE8 or below! Please obtain a newer browser, or try a portable version of Firefox.");
            window.location = "https://github.com/TNOCS/csWeb";
        </script>
    <![endif]-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="csWeb, your mapping solution.">
    <meta name="author" content="Arnoud de Jong, Erik Vullings">
    <meta name="color:Accent" content="#a98e2e" />

    <!--TODO Add your title here-->
    <title>csWeb</title>

    <link rel="stylesheet" href="bower_components/Font-Awesome/css/font-awesome.min.css" />

    <!-- build:css css/csWeb.css -->
    <link rel="stylesheet" href="bower_components/csweb/dist-bower/csWeb-dep.css" />
    <link rel="stylesheet" href="bower_components/csweb/dist-bower/css/csStyles.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body data-ng-controller="appCtrl" data-ng-cloak data-ng-init="showMap=true">
    <!--<script>L_PREFER_CANVAS = true;</script>-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- build:js csWeb.js -->
    <script src="bower_components/csweb/dist-bower/csWeb-dep.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/csweb/dist-bower/csComp.js"></script>
    <script src="app/app.js"></script>
    <script src="bower_components/csweb/dist-bower/csTemplates.js"></script>
    <!-- endbuild -->

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header" data-ng-cloak>
            <a class="menutoggle" ng-click="vm.$layerService.visual.leftPanelVisible = !vm.$layerService.visual.leftPanelVisible" uib-popover="{{'TOGGLE_MENU' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true"><i class="fa fa-bars"></i></a>
        </div>

        <!-- Link to views -->
        <div class="navbar-collapse collapse">
            <project-header-selection></project-header-selection>

            <!-- Dashboard selection -->
            <dashboard-header-selection></dashboard-header-selection>

            <!-- Select renderer -->
            <ul class="nav navbar-nav" style="float:right">
                <li data-ng-if="vm.$layerService.activeMapRenderer.title!='leaflet'"><a data-ng-click="vm.$layerService.selectRenderer('leaflet')">2D</a></li>
                <li data-ng-if="vm.$layerService.activeMapRenderer.title!='cesium'"><a data-ng-click="vm.$layerService.selectRenderer('cesium')">3D</a></li>
            </ul>

            <!-- Search form -->
            <!-- <offline-search class="navbar-form navbar-right" style="margin-right:0"></offline-search> -->
            <!-- Expert mode switch -->
            <expert-mode class="navbar-form navbar-right" style="outline:none; margin: 5px -10px 0 0; color: white"></expert-mode>
            <!-- Language switch -->
            <language-switch class="navbar-form navbar-right" style="margin: 0 -5px 0 8px;"></language-switch>
        </div>
    </div>

    <map mapid="main" class="map-main" ng-show="vm.$layerService.visual.mapVisible"></map>

    <div style="position: absolute;width: 100%;height:100%;pointer-events: none;display:table">

        <div ng-show="vm.$layerService.visual.leftPanelVisible" class="leftpanel leftpanel-entrance" ng-cloak>
            <div class="leftpanel-container">
                <!-- http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window -->
                <div class="leftpanel-tab">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left" id="leftPanelTab">
                        <li class="active" uib-popover="{{'NAVIGATE' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#navigate" data-toggle="tab">
                                <div class="searchIcon"></div>
                            </a>
                        </li>                        
                        <li uib-popover="{{'BASESTYLES' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#basestyles" data-toggle="tab" data-ng-if="vm.$mapService.isIntermediate">
                                <div class="mapIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'LAYERS' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#layers" data-toggle="tab">
                                <div class="layersIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'FILTERS' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#filters" data-toggle="tab">
                                <div class="filtersIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'STYLES' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#styles" data-toggle="tab">
                                <div class="stylesIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'MCA.NAME' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#mca" data-toggle="tab" data-ng-if="vm.$mapService.isExpert">
                                <div class="mcaIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'HEATMAP.NAME' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#heatmap" data-toggle="tab" data-ng-if="vm.$mapService.isExpert">
                                <div class="heatmapIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'FEATURES' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#features" data-toggle="tab">
                                <div class="featuresIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'LEGEND' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#legend" data-toggle="tab">
                                <div class="mainLegendIcon"></div>
                            </a>
                        </li>
                        <li uib-popover="{{'DASHBOARD_SELECTION' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#dashboardselection" data-ng-if="vm.$mapService.isExpert" data-toggle="tab"><i class="fa fa-tachometer fa-2x" style="color: black"></i>
                      </a>
                        </li>
                        <li uib-popover="{{'SETTINGS' | translate}}" popover-popup-delay="750" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <a data-target="#settings" data-toggle="tab" data-ng-if="vm.$mapService.isAdminExpert">
                                <i class="fa fa-gear fa-2x" style="color: black"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="leftpanel-content">
                    <!-- Tab panes -->
                    <div class="tab-content ">                        

                        <navigate class="tab-pane active" id="navigate" data-ng-if="!vm.$layerService.isMobile"></navigate>

                        <base-map-list class="tab-pane" id="basestyles"></base-map-list>

                        <layers-directive class="tab-pane" id="layers"></layers-directive>

                        <filter-list class="tab-pane" id="filters"></filter-list>

                        <style-list class="tab-pane" id="styles"></style-list>

                        <mca class="tab-pane" id="mca"></mca>

                        <heatmap class="tab-pane" id="heatmap"></heatmap>

                        <feature-list class="tab-pane" id="features"></feature-list>

                        <legend-list class="tab-pane" id="legend"></legend-list>

                        <dashboard-selection class="tab-pane" id="dashboardselection"></dashboard-selection>

                        <project-settings class="tab-pane" id="settings"></project-settings>
                    </div>
                </div>
            </div>
        </div>
        <dashboardirective container="main" style="display:table-cell;width:100%;vertical-align: top;" dashboard="vm.$dashboardService.mainDashboard"></dashboardirective>

        <div id="rightpanel" class="rightpanel">
            <div id="rightpanelTabContainer" class="tabbable tabs-left rightpanelContainer">
                <!-- Nav tabs -->
                <ul id="rightpanelTabs" class="nav nav-tabs rightpanelTabs" ng-class="{'rightpanelTabs-collapsed' : !vm.$layerService.visual.rightPanelVisible}">
                    <li style="margin-top:5px" ng-style="!vm.$layerService.visual.rightPanelVisible && {'opacity':0}" ng-click="vm.$layerService.visual.rightPanelVisible = false" uib-popover="{{'HIDE_PANEL' | translate}}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">
                        <a class="rightpanel-hidetab">
                            <span class="fa fa-2x fa-chevron-right"></span>
                        </a>
                    </li>
                </ul>
                <div id="rightpanelTabPanes" ng-show="vm.$layerService.visual.rightPanelVisible" class="tab-content rightpanelTabPanes">
                </div>
            </div>
        </div>

    </div>

    <!--Loading spinner-->
    <div data-ng-show="layersLoading>0" id="loadingspinner" style="margin:0px auto; width:200px; height:100px;">
        <div class="spinner" style="position: initial; margin-top:60px;">
            <div class="bounce1" style="width:16px; height:16px;"></div>
            <div class="bounce2" style="width:16px; height:16px;"></div>
            <div class="bounce3" style="width:16px; height:16px;"></div>
        </div>
    </div>

    <timeline data-ng-show="vm.$mapService.timelineVisible && !vm.$layerService.isMobile" style="height: 100vh;"></timeline>
</body>

</html>
