<div>
    <div class="row" style="margin-left:15px;margin-right:0px;">
        <div class="col-md-8" style="font-size:14px; font-weight:bold;margin-bottom:2px;">{{data.title}}</div>
        <div class="col-md-4">
            <div>
                <button class="fa fa-times leftpanel-header-button" ng-click="vm.close()" style="padding-right:0px" />
                <button class="fa fa-plus leftpanel-header-button" ng-click="vm.minimize()" ng-show="minimized" />
                <button class="fa fa-minus leftpanel-header-button" ng-click="vm.minimize()" ng-hide="minimized" />
                <button class="fa fa-floppy-o leftpanel-header-button" ng-click="vm.edit()" ng-show="editmode" />
                <button class="fa fa-cog leftpanel-header-button" ng-click="vm.edit()" ng-hide="editmode" />
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:0px;font-size:12px;" ng-hide="minimized">
        <div ng-hide="editmode">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="marvelViz" preserveAspectRatio="xMidYMid meet">
                <marker id="markerArrow" viewBox="0 0 10 10" refX="8" refY="5" markerUnits="strokeWidth" orient="auto" markerWidth="8" markerHeight="6" style="fill:grey;">
                    <polyline points="0,0 10,5 0,10 1,5"></polyline>
                </marker>
            </svg>
        </div>
        <div ng-show="editmode" style="margin-top:20px">
            <div ng-repeat="(id, dep) in dependencyTypes">
                <div class="row" style="margin-left:15px;margin-right:0px;">
                    <div class="col-md-1">
                        <input type="checkbox" ng-click="vm.addDependency(id, dep)" id="check-{{id}}" ng-checked="selectedFeature.properties.hasOwnProperty(id)" />
                    </div>
                    <div class="col-md-10">
                        <div ng-switch="dep.type">
                            <div ng-switch-when="number">
                                <div ng-if="selectedFeature.properties.hasOwnProperty(id)">
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input id="depValue" name="textinput" type="number" ng-model="selectedFeature.properties[id]" placeholder="value" class="input">
                                </div>
                                <div ng-if="!selectedFeature.properties.hasOwnProperty(id)">
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input disabled id="depValue" type="number" name="textinput" placeholder="value" class="input">
                                </div>
                            </div>
                            <div ng-switch-when="string">
                                <div ng-if="selectedFeature.properties.hasOwnProperty(id)">
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input id="depValue" name="textinput" ng-model="selectedFeature.properties[id]" placeholder="value" class="input">
                                </div>
                                <div ng-if="!selectedFeature.properties.hasOwnProperty(id)">
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input disabled id="depValue" name="textinput" placeholder="value" class="input">
                                </div>
                            </div>
                            <div ng-switch-when="stringarray">
                                <div ng-if="selectedFeature.properties.hasOwnProperty(id)">
                                    <div ng-repeat="name in selectedFeature.properties[id]">
                                        <label class="control-label-marvel" for="depName">{{$index}}</label>
                                        <input disabled id="depName" name="textinput" ng-model="name" placeholder="value" class="input">
                                        <button class="fa fa-minus leftpanel-header-button" style="float:none" ng-click="vm.removeDependencyFeature(id, name)" />
                                    </div>
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input id="add-{{id}}" name="textinput" placeholder="Featurename" class="input">
                                    <button class="fa fa-plus leftpanel-header-button" style="float:none" ng-click="vm.addDependencyFeature(id)" />
                                </div>
                                <div ng-if="!selectedFeature.properties.hasOwnProperty(id)">
                                    <label class="control-label-marvel" for="depValue">{{dep.label}}</label>
                                    <input disabled id="depValue" name="textinput" placeholder="Featurename" class="input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
