<div class="navbar-collapse collapse"
     tooltip-html-unsafe="{{\'EXPERTMODE.EXPLANATION\' | translate}}"
     tooltip-placement="left"
     tooltip-trigger="mouseenter"
     tooltip-append-to-body="false">
    <ul class="nav navbar-nav">
        <li class="dropdown" style="margin-top:-15px">
            <a href=""
               class="navbar-brand dropdown-toggle pull-left"
               data-toggle="dropdown"
               style="color:white; margin-left:-10px;">
                <div class="circle"><span data-ng-class="vm.getCssClass()" style="width: 32px; height: 32px"></span></div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a data-ng-click="vm.setExpertMode(1)">
                        <span class="beginnerUserIcon" style="margin-left: -10px; width: 40px; height: 32px"></span>
                        <div translate>EXPERTMODE.BEGINNER</div>
                    </a>
                </li>
                <li>
                    <a data-ng-click="vm.setExpertMode(2)">
                        <span class="intermediateUserIcon" style="margin-left: -10px; width: 40px; height: 32px"></span>
                        <div translate>EXPERTMODE.INTERMEDIATE</div>
                    </a>
                </li>
                <li>
                    <a data-ng-click="vm.setExpertMode(3)">
                        <span class="expertUserIcon" style="margin-left: -10px; width: 40px; height: 32px"></span>
                        <div translate>EXPERTMODE.EXPERT</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>