<div>
    <h4 class="leftpanel-header">MCA</h4>
    <div>
        <select data-ng-model="vm.mca"
                data-ng-options="mca.title for mca in vm.availableMcas"
                style="width: 85%; margin-bottom:10px;"></select>
        <a href="" data-ng-click="vm.createNewMca()" class="pull-right" style="margin:0 10px;"><i class="fa fa-plus"></i></a>
    </div>
    
    <div>
        <input type="checkbox" ng-model="showDialog"> Show
        <div show-modal="showDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>

    <div data-ng-if="vm.mca">
        <ul class="list-unstyled">
            <li data-ng-repeat="criterion in vm.mca.criteria">
                <div data-ng-style="{\'display\': \'inline-block\', \'width\':\'10px\', \'height\':\'10px\', \'border\':\'solid 1px black\', \'background-color\': criterion.color}">
                </div>
                <div style="display: inline-block;">{{criterion.getTitle()}}</div>
                <rating class="pull-right" style="margin:0 10px;" ng-model="criterion.userWeight" max="{{vm.mca.userWeightMax}}" readonly="isReadonly"
                        state-on="\'fa fa-circle\'" state-off="\'fa fa-circle-o\'"
                        on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <ul data-ng-if="criterion.criteria.length > 0">
                    <li data-ng-repeat="crit in criterion.criteria">{{crit.label}}</li>
                </ul>
            </li>
        </ul>

        <!--<a href="" style="display: inline-block; width: 100%; text-transform: uppercase"
           data-ng-click="vm.calculateMca()" translate="MCA_COMPUTE_MGS" translate-values="{ mcaTitle: vm.mca.title }"></a>-->

        <div style="margin-top: 5px; margin-left: 70px;" id="mcaPieChart"></div>

        <div data-ng-if="vm.showFeature">
            <h4>{{vm.selectedFeature.properties[\'Name\']}}</h4>
            <table class="table table-condensed">
                <tr data-ng-repeat="item in vm.properties"
                    popover="{{item.description}}"
                    popover-placement="right"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true">
                    <td><a class="fa fa-filter makeNarrow" data-ng-if="item.canFilter" data-ng-click="vm.$layerService.setFilter(item)" style="cursor: pointer"></a></td>
                    <td><a class="fa fa-eye makeNarrow" data-ng-if="item.canStyle" data-ng-click="vm.setStyle(item)" style="cursor: pointer"></a></td>
                    <td>{{item.key}}</td>
                    <td class="text-right">{{item.value}}</td>
                </tr>
            </table>
        </div>
        <i data-ng-if="!vm.showFeature"><div translate="SHOW_FEATURE_MSG"></div></i>
    </div>
</div>
