<div style="padding-left:6px">
    <div class="wide-tooltip">
        <span class="pull-right fa fa-info-circle fa-2x"
              uib-tooltip-html-unsafe="{{'MCA.DESCRIPTION' | translate}}"
              uib-tooltip-placement="bottom"
              uib-tooltip-trigger="'mouseenter'"
              uib-tooltip-append-to-body="false"
              style="margin-right: 5px;"></span>
        <h4 class="leftpanel-header">MCA</h4>
    </div>
    <div>
        <select data-ng-model="vm.mca"
                data-ng-options="mca.title for mca in vm.availableMcas"
                data-ng-change="vm.updateMca()"
                style="width: 65%; margin-bottom: 10px;"></select>
        <div data-ng-if="vm.expertMode" class="pull-right">
            <a href="" data-ng-click="vm.toggleSparkline()" uib-tooltip="{{'MCA.TOGGLE_SPARKLINE' | translate}}" tooltip-append-to-body="true" style="margin-right:5px;"><i class="fa fa-bar-chart" data-ng-style="vm.showSparkline ? {} : {color:'lightgray'}"></i></a>
            <a href="" data-ng-click="vm.createMca()" uib-tooltip="{{'MCA.ADD_MCA' | translate}}" tooltip-append-to-body="true" style="margin-right:5px;"><i class="fa fa-plus"></i></a>
            <a href="" data-ng-click="vm.removeMca(vm.mca)" uib-tooltip="{{'MCA.DELETE_MCA' | translate}}" tooltip-append-to-body="true" tooltip-placement="right" style="margin-right:5px;"><i class="fa fa-trash"></i></a>
            <a href="" data-ng-click="vm.editMca(vm.mca)" uib-tooltip="{{'MCA.EDIT_MCA' | translate}}" tooltip-append-to-body="true" tooltip-placement="right" style="margin-right:5px;"><i class="fa fa-edit"></i></a>
        </div>
    </div>

    <div data-ng-if="!vm.mca">
        <div data-ng-if="vm.expertMode"  translate>MCA.INFO_EXPERT</div>
        <div data-ng-if="!vm.expertMode" translate>MCA.INFO</div>
    </div>

    <div data-ng-if="vm.mca" style="overflow-y: auto; overflow-x: hidden; margin-left: -5px;" resize resize-y="140">
        <div data-ng-repeat="criterion in vm.mca.criteria" class="wide-tooltip">
            <div data-ng-if="criterion.criteria.length > 0 && criterion.userWeight !== 0" class="collapsed pull-left" style="margin: 0 5px 0 0" data-toggle="collapse" data-target="#criterion_{{$index}}"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
            <div class="mca-criterion-colorbox" data-ng-style="{'background-color': criterion.color}"></div>
            <div class="truncate mca-criterion" data-ng-class="{true: 'ignoredCriteria'}[criterion.userWeight == 0]">{{criterion.getTitle()}}</div>

            <voting class="pull-right"
                    data-ng-class="vm.getVotingClass(criterion)"
                    data-ng-change="vm.weightUpdated(criterion)"
                    min="-vm.mca.userWeightMax"
                    max="vm.mca.userWeightMax"
                    ng-model="criterion.userWeight"
                    style="margin-right: 5px; margin-bottom: 3px;"></voting>

            <div id="histogram_{{$index}}" data-ng-show="vm.showSparkline && criterion.criteria.length === 0" style="margin-top: 5px;"></div>
            <div data-ng-if="criterion.criteria.length > 0" id="criterion_{{$parent.$index}}" class="collapse out" style="margin-left: 19px">
                <div data-ng-repeat="crit in criterion.criteria">
                    <div data-ng-style="{'display': 'inline-block', 'margin-bottom': '6px', 'width':'10px', 'height':'10px', 'border':'solid 1px black', 'background-color': crit.color}"></div>
                    <div class="truncate" data-ng-class="{true: 'ignoredCriteria'}[crit.userWeight == 0 || criterion.userWeight == 0]" style="display: inline-block; width: 270px;">{{crit.getTitle()}}</div>
                    <div class="pull-right" style="margin-right: 15px;">{{Math.abs(crit.userWeight)}}</div>
                    <voting class="pull-right"
                            data-ng-class="vm.getVotingClass(crit)"
                            data-ng-change="vm.weightUpdated(crit)"
                            min="-vm.mca.userWeightMax"
                            max="vm.mca.userWeightMax"
                            ng-model="crit.userWeight"
                            style="margin-right: 5px;"></voting>
                    <div id="histogram_{{$parent.$index}}_{{$index}}" data-ng-show="vm.showSparkline" style="margin-top: 5px;"></div>
                </div>
            </div>
        </div>

        <!--<a href="" style="display: inline-block; width: 100%; text-transform: uppercase"
               data-ng-click="vm.calculateMca()" translate="MCA.COMPUTE_MGS" translate-values="{ mcaTitle: vm.mca.title }"></a>-->
        <h4 data-ng-if="vm.showChart">
            <a href="" data-ng-click="vm.weightUpdated(vm.mca)" translate="MCA.TOTAL_RESULT"></a>
            <a href="" data-ng-if="vm.selectedCriterion">&gt;&nbsp;{{vm.selectedCriterion.title}}</a>
        </h4>

        <a href="" data-ng-if="vm.showFeature" class="pull-right" data-ng-click="vm.toggleMcaChartType();" style="margin-right: 10px">
            <i class="fa" data-ng-class="{true: 'fa-bar-chart', false: 'fa-pie-chart'}[vm.showAsterChart]"></i>
        </a>

        <div style="margin-top: 5px; margin-left: auto; margin-right: auto; width: 95%;" id="mcaChart"></div>

        <div data-ng-if="vm.showFeature">
            <h4>
                <img data-ng-if="vm.featureIcon" data-ng-src="{{vm.featureIcon}}" width="24" height="24" style="margin:0 5px" alt="Icon" />
                {{vm.selectedFeature.properties['Name']}}
            </h4>
            <table class="table table-condensed">
                <tr data-ng-repeat="item in vm.properties"
                    popover="{{item.description}}"
                    popover-placement="right"
                    popover-trigger="'mouseenter'"
                    popover-append-to-body="true">
                    <td><a class="fa fa-filter makeNarrow" data-ng-if="item.canFilter" data-ng-click="vm.$layerService.setFilter(item)" style="cursor: pointer"></a></td>
                    <td><a class="fa fa-paint-brush makeNarrow" data-ng-if="item.canStyle" data-ng-click="vm.setStyle(item)" style="cursor: pointer"></a></td>
                    <td>{{item.key}}</td>
                    <td class="text-right">{{item.value}}</td>
                </tr>
            </table>
        </div>
        <i data-ng-if="!vm.showFeature"><div translate="MCA.SHOW_FEATURE_MSG"></div></i>
    </div>

    <!--<div rating class="pull-right"
             data-ng-style="{'margin': '0 10px', 'background':'rgba(0, 0, 0, 0.1)', 'border-radius': '8px', 'padding': '0 4px', 'color': criterion.color}"
             ng-model="criterion.userWeight" max="11" readonly="isReadonly"
             rating-states="ratingStates"
             data-ng-click="vm.weightUpdated(criterion)"
             on-hover="hoveringOver(value)" on-leave="overStar = null"></div>-->
</div>
