<div>
    <style>
        #timeline {
            position: absolute;
            bottom: 0;
            height: 100px;
            width: 100%;
            background: white;
        }

        .callout.top::before {
            left: 45%;
            bottom: -20px;
            border-top: 10px solid #444;
        }

        .callout::before {
            content: "";
            width: 0px;
            height: 0px;
            border: 0.8em solid transparent;
            position: absolute;
        }

        .focustimeButton {
            margin: 3px;
            cursor: pointer;
        }

        #focustimeContainer {
            width: 150px;
            cursor: e-resize;
            height: 75px;
            right: 200px;
            bottom: 105px;
            color: white;
            position: absolute;
            z-index: 1000;
            /* float: right; */
            display: block;
        }

        .timelineControl {
            background: black;
            height: 23px;
        }

        .isPlaying {
            background: gray;
        }

        .showControl {
            height: 75px;
        }

        .focustimeText {
            text-align: center;
            background: #444;
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 52px;
        }

        .pinButton {
            color: red;
        } 



        .livebutton {
  display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 4px;
margin-right: 0;
border: none;
font: 16px;
color: rgba(255,255,255,1);
text-decoration: normal;
text-align: center;
-o-text-overflow: clip;
text-overflow: clip;
white-space: pre;
cursor: pointer;

transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

        @keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:00.2; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.2; }
  100% { opacity:1; }
}

 .islivebutton {
     display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 4px;
margin-right: 0;
border: none;
font: 16px;
color: rgba(255,255,255,1);
text-decoration: normal;
text-align: center;
-o-text-overflow: clip;
text-overflow: clip;
white-space: pre;
cursor: pointer;
           text-shadow: 0 0 2.5px rgba(255,255,255,1) , 0 0 5px rgba(255,255,255,1) , 0 0 7.5px rgba(255,255,255,1) , 0 0 10px #ff0000, 0 0 15px #ff0000 , 0 0 20px #ff0000, 0 0 25px #ff0000;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    cursor: pointer;
        }

    </style>
    <div>
        <div id="timelinecontainer">
            <div id="timeline"></div>
        </div>


        <div class="callout top" id="focustimeContainer" ng-class="{showControl : vm.showControl}" ng-mouseenter="vm.mouseEnter()" ng-mouseleave="vm.mouseLeave()">
            <div ng-show="vm.showControl" class="timelineControl" ng-class="{isPlaying : vm.isPlaying}">
                <span ng-hide="vm.$layerService.project.timeLine.isLive" class="focustimeButton">
                    <div ng-hide="vm.isPlaying" class="fa fa-play focustimeButton" ng-click="vm.start()"></div>
                    <div ng-show="vm.isPlaying" class="fa fa-stop focustimeButton" ng-click="vm.stop()"></div>
                </span>
                <div style="float: right">{{vm.$layerService.project.timeLine.levelName}}</div>
                <div ng-click="vm.toggleLive()" class="islivebutton" ng-show="vm.$layerService.project.timeLine.isLive" style="float: right">live</div>
                <div ng-click="vm.toggleLive()" class="livebutton" ng-hide="vm.$layerService.project.timeLine.isLive" style="float: right">go live</div>
                <!--<div ng-hide="vm.isPinned" class="fa fa-thumb-tack focustimeButton pinButton" ng-class="{isPinned : vm.isPinned}" ng-click="vm.pinToNow()"></div>-->
            </div>
            <div class="focustimeText">
                <span style="font-weight: bold">{{vm.line1}}</span><br />
                <span>{{vm.line2}}</span>

            </div>

        </div>
    </div>

</div>
