<div>
    <div class="row" style="margin-left:15px;margin-right:0px;">
        <div class="col-md-8" style="font-size:16px; font-weight:bold;margin-bottom:2px;">{{data.title}}</div>
        <div>
            <div>
                <button class="pull-right makeNarrow fa fa-times leftpanel-header-button" ng-if="vm.canClose()" ng-click="vm.close()" />
                <button class="pull-right makeNarrow fa fa-plus leftpanel-header-button" ng-click="vm.minimize()" ng-show="minimized" />
                <button class="pull-right makeNarrow fa fa-minus leftpanel-header-button" ng-click="vm.minimize()" ng-hide="minimized" />
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:0px;font-size:12px;" ng-hide="minimized">
        <wiz-markdown class="active-text" content="data.mdText" style="margin-left:15px;margin-right:15px"></wiz-markdown>
    </div>
</div>
