<div>
    <h4 class="leftpanel-header" translate="NAVIGATE"></h4>

</div>
<!-- <a ng-click="vm.$layerService.setLocationFilter()" style="margin-bottom:10px; display:block;">
        <span class="fa fa-filter"></span>
        <div style="display:inline; cursor:pointer" ng-hide="vm.locationFilterActive">{{'ENABLE_LOCATION_FILTER' | translate}}</div>
        <div style="display:inline; cursor:pointer" ng-show="vm.locationFilterActive">{{'DISABLE_LOCATION_FILTER' | translate}}</div>
    </a> -->
<div>
    <!-- <input class="addlayer-filter" type="text" class="form-control" id="layerFilter" ng-model="layerFilter" placeholder="Search"></input> -->
    <div ng-repeat="l in vm.availableLayers">
        <div>{{l.title}}</div>
    </div>
</div>
