<div>
    <div class="indicatorwidget-title">{{data.title}}</div>
    <style>
    .horizontalLayout
    {
      float:left;
    }
    </style>
    <ul class="indicator-list" data-ng-repeat="i in data.indicators" ng-switch on="i.visual">
        <li ng-class="{isActive : i.isActive, horizontalLayout : data.orientation === 'horizontal'}" class="indicator-group indicator-sparkline-group" ng-click="vm.selectIndicator(i)" ng-switch-when="sparkline">
            <div class="indicator-sparkline-title">{{i.sensorSet.propertyType.title}}</div>
            <sparkline-chart timestamps="i.sensorSet.timestamps" sensor="i.sensorSet.values" activeValue="i.focusTime" width="200" height="40" showaxis="false" closed="true"></sparkline-chart>
        </li>
        <li ng-class="{isActive : i.isActive}" ng-click="vm.selectIndicator(i)" class="indicator-group indicator-circular-group"  ng-switch-when="circular">
          <circular-chart  title-class="indicator-circular-title" color="i.color" animationDuration="200" value-class="indicator-circular-value" value-string="i.sensorSet.activeValueText()" value="i.sensorSet.activeValue"  title="i.sensorSet.propertyType.title" min="0" max="i.sensorSet.max" width="320" height="320"></circular-chart>
        </li>
        <li ng-class="{isActive : i.isActive}" class="indicator-group" ng-switch-when="bullet">
          <bullet-chart width="i.indicatorWidth" height="30" title="i.sensorSet.propertyType.title" data="i.data" style="width:calc(100% - 80px)"/>
          <div ng-if="!vm.$layerService.lastSelectedFeature">Please select a feature to show the widget</div>
        </li>
        <li ng-class="{isActive : i.isActive}" class="indicator-group" ng-switch-default>
            <div>{{i.sensorSet.propertyType.title}}</div>
            <div>{{i.sensorSet.activeValueText()}}</div>
        </li>
    </ul>
</div>
