<div>
    <div class="wide-tooltip">
        <span class="pull-right fa fa-info-circle fa-2x" tooltip-html-unsafe="{{\'HEATMAP.DESCRIPTION\' | translate}}" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-append-to-body="false" style="margin-right: 5px;"></span>
        <h4 class="leftpanel-header" translate>HEATMAP</h4>
    </div>
    <div>
        <select data-ng-model="vm.heatmapModel" data-ng-options="heatmap.title for heatmap in vm.heatmapModels" data-ng-change="vm.updateHeatmap()" style="width: 65%; margin-bottom: 10px;"></select>
        <div data-ng-if="vm.expertMode" class="pull-right">
            <a href="" data-ng-click="vm.createHeatmap()" tooltip="{{\'HEATMAP.ADD_HEATMAP\' | translate}}" style="margin-right:5px;"><i class="fa fa-plus"></i></a>
            <a href="" data-ng-click="vm.removeHeatmap(vm.heatmapModel)" tooltip="{{\'HEATMAP.DELETE_HEATMAP\' | translate}}" style="margin-right:5px;"><i class="fa fa-trash"></i></a>
            <a href="" data-ng-click="vm.editHeatmap(vm.heatmapModel)" tooltip="{{\'HEATMAP.EDIT_HEATMAP\' | translate}}" style="margin-right:5px;"><i class="fa fa-edit"></i></a>
            <a href="" data-ng-click="vm.exportHeatmap(vm.heatmapModel)" tooltip="{{\'HEATMAP.EXPORT_HEATMAP\' | translate}}" tooltip-placement="right" style="margin-right:5px;"><i class="fa fa-download"></i></a>
        </div>
    </div>

    <div data-ng-if="vm.heatmapModel" style="margin-bottom: 7px; margin-left: -5px">
        <div style="display: inline; font-weight: bold" translate>HEATMAP.INTENSITY_SCALE</div>
        <voting class="pull-right"
                data-ng-change="vm.intensityScaleUpdated()"
                min="1"
                max="5"
                ng-model="vm.heatmapModel.heatmapSettings.intensityScale"
                style="margin-bottom: 3px; margin-right: 5px"></voting>
    </div>

    <div data-ng-if="vm.heatmapModel" style="margin-bottom: 20px; margin-left: -5px">
        <div style="display: inline; font-weight: bold" translate>HEATMAP.RESOLUTION</div>
        <voting class="pull-right"
                data-ng-change="vm.resolutionUpdated()"
                min="1"
                max="3"
                ng-model="vm.heatmapModel.heatmapSettings.resolution"
                style="margin-bottom: 3px; margin-right: 5px"></voting>
    </div>

    <div data-ng-if="vm.heatmapModel" style="overflow-y: auto; overflow-x: hidden; margin-left: -5px;" resize resize-y="140">
        <div data-ng-repeat="hi in vm.heatmapModel.heatmapItems" class="wide-tooltip">
            <div data-ng-if="hi.isSelected">
                <div class="truncate" data-ng-class="{true: \'ignoredCriteria\'}[hi.userWeight == 0]" style="display: inline-block; width: 180px; font-weight: bold">{{hi.toString()}}</div>

                <voting class="pull-right" data-ng-class="vm.getVotingClass(hi)" data-ng-change="vm.weightUpdated()" min="-5" max="5" ng-model="hi.userWeight" style="margin-right: 5px; margin-bottom: 3px;"></voting>
            </div>
        </div>

    </div>

    <div data-ng-if="!vm.heatmapModel">
        <div data-ng-if="vm.expertMode" translate>HEATMAP.INFO_EXPERT</div>
        <div data-ng-if="!vm.expertMode" translate>HEATMAP.INFO</div>
    </div>

</div>
