<div style="background:white">
    <h4 class="rightpanel-header">&nbsp;&nbsp;PostMan Editor
        <div style="float:right;margin-right:10px">
            <button tooltip-html-unsafe="{{'ADD' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-plus leftpanel-header-button" ng-click="vm.addMessage()" />
            <button tooltip-html-unsafe="{{'DELETE' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-trash-o leftpanel-header-button" ng-click="vm.deleteMessage()" />
        </div>
    </h4>

    <div style="margin-left:5px;margin-right:20px">
        <div class="col-md-12">
            <select ng-model="selectedMessage" ng-options="msg.name for msg in data.messages" class="input-xlarge" style="font-size: 1.35em; width: 300px"></select>
        </div>
        <div class="col-md-12">
            <label class="control-label" for="description">Description</label>
        </div>
        <div class="col-md-12">
            <textarea name="description" cols="40" rows="3" ng-model="selectedMessage.description" placeholder="..." class="input-xlarge"></textarea>
        </div>

        <div class="col-md-12">
            <label class="control-label" for="name">Name</label>
        </div>
        <div class="col-md-12">
            <input id="name" name="text" type="text" ng-model="selectedMessage.name" placeholder="Title..." class="input-xlarge">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="name">URL</label>
        </div>
        <div class="col-md-3">
            <select ng-model="selectedMessage.httpMethod" ng-options="method.name for method in methods track by method.name" class="input-xlarge" style="font-size: 1.35em; margin-right: 20px;"></select>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <input id="urlAddress" name="text" type="text" ng-model="selectedMessage.url" placeholder="/api/keys/..." class="input-xlarge">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="message">Message</label>
        </div>
        <div class="col-md-12">
            <textarea name="message" cols="40" rows="10" ng-model="selectedMessage.message" placeholder="Message" class="input-xlarge"></textarea>
        </div>
    </div>
</div>
