<div>
    <style>
        .draggable {
            position: relative;
            z-index: 10;
            width: 75px;
            height: 75px;
            border-color: #000;
            background: white;
            border-width: 1px;
            border-style: solid;
            color: #000;
            vertical-align: middle;
            margin: 5px;
            -ms-touch-action: none;
            touch-action: none;
        }

        .widgetType-title {
            font-size: 20px;
            font-weight: 800;
        }

        .widgetType-description {
            font-size: 15px;
            clear: left;
        }

        /*.widgettypes-list {}
*/
        .widgettypes-list-container {
            overflow-y: auto;
            position: relative;
        }
    </style>

   
    <div>
        <uib-tabset>
            <uib-tab heading="Dashboards">
                <ul style="padding: 0;list-style-type: none">
                    <li data-ng-repeat="value in vm.$layerService.project.dashboards">
                        <div ng-click="vm.$dashboardService.selectDashboard(value,'main')" ng-class="{'dashboard-selected' : value == vm.$layerService.project.activeDashboard}" class="dashboard-item">
                            <span class="dashboard-name">{{value.name}}</span>
                            <div class="leftpanel-header-button-container">
                                <button ng-click="vm.removeDashboard(value.id)" class="button fa fa-trash leftpanel-header-button" />
                                <div ng-show="value == vm.$layerService.project.activeDashboard" style="float:right">
                                    <button ng-show="vm.$mapService.isAdminExpert" ng-click="value.editMode = true; vm.startDashboardEdit(value)" class="button fa fa-cog leftpanel-header-button" />
                                    <!-- <button ng-show="value.editMode" ng-click="value.editMode = false; vm.stopDashboardEdit(value)" class="button fa fa-check leftpanel-header-button" /> -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </uib-tab>
            <uib-tab ng-show="vm.$mapService.isAdminExpert" heading="Widgets">
                <div style="margin-right:10px">
                    <label class="editor-title input-xlarge">Widget Style</label>
                    <select data-ng-model="vm.style" ng-change="vm.selectStyle()" class="form-control">
                        <option data-ng-repeat="(st,key) in vm.$layerService.solution.widgetStyles" ng-value="st">{{st}}</option>
                    </select>

                    <div class="widgettypes-list-container" resize resize-y="180">
                        <ul class="widgettypes-list" style="padding: 0;list-style-type: none">
                            <li data-ng-repeat="(key,type) in vm.$dashboardService.widgetTypes" style="height:85px">
                                <div style="width:100%;height:85px">
                                    <div style="float:left;padding:20px" id="widgettype-{{key}}" when-ready="vm.initDrag(key)" class="draggable" ng-style="{'background' : widgetStyle.background,'border-color':widgetStyle.borderColor,'border-width':widgetStyle.borderWidth,'border-radius':widgetStyle.borderRadius,'opacity' : widgetStyle.opacity}">
                                        <img ng-src="{{type.icon}}" style="width:32px">
                                    </div>
                                    <div style="position:absolute;left:100px">
                                        <div class="widgetType-title">{{key}}</div>
                                        <div class="widgetType-description">{{type.description}}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
