<div style="overflow-y: auto; overflow-x: hidden; padding:5px; margin-top: 20px; margin-left:10px">

    <div class="controls">
        <div class="checkbox checkbox-primary" style="margin-top: 0px;margin-bottom: 0px;">
            <input type="checkbox" id="touchMode" ng-checked="vm.dashboardService.touchMode" data-ng-click="vm.toggleTouchMode();">
            <label class="editor-title input-xlarge" for="touchMode">touch mode</label>
        </div>
    </div>
    <div class="controls">
        <div class="checkbox checkbox-primary" style="margin-top: 0px;margin-bottom: 0px;">
            <input type="checkbox" id="rendererSelection" ng-checked="vm.$layerService.activeMapRenderer.title=='cesium'" data-ng-click="vm.toggleRenderer();">
            <label class="editor-title input-xlarge" for="rendererSelection">3D view</label>
        </div>
    </div>
    <div class="controls">
        <div class="checkbox checkbox-primary" style="margin-top: 0px;margin-bottom: 0px;">
            <input type="checkbox" id="showLocationSelection" ng-checked="vm.mapService.showLocation" data-ng-click="vm.toggleShowLocation();">
            <label class="editor-title input-xlarge" for="showLocationSelection">Show location</label>
        </div>
    </div>
    <div class="controls">
        <div class="checkbox checkbox-primary" style="margin-top: 0px;margin-bottom: 0px;">
            <input type="checkbox" id="adminModeSelection" ng-checked="vm.mapService.isAdminExpert" data-ng-click="vm.toggleAdminMode();">
            <label class="editor-title input-xlarge" for="adminModeSelection">Admin Mode</label>
        </div>
    </div>

    <div ng-show="vm.mapService.isAdminExpert">
        <div class="controls">
            <label class="editor-title input-xlarge" for="projectTitle">Title</label>
            <input id="projectTitle" name="textinput" type="text" ng-model="vm.$layerService.project.title" placeholder="title" class="input-xlarge editor-text-input">
        </div>

        <button type="button" class="btn btn-primary" data-ng-click="vm.updateProject()" style="margin-top: 5px; margin-right: 1em; float: right;">
                <i class="fa fa-save fa-2x"></i>
            </button>
        <button type="button" class="btn btn-primary" data-ng-click="vm.saveSettings()" style="margin-top: 5px; margin-right: 1em; float: right;">
                <i class="fa fa-download fa-2x"></i>
            </button>
        <dashboard-selection />
    </div>
</div>
