<div style="padding:5px">
    
    <div style="overflow-y: auto; overflow-x: hidden; margin-top: -10px">

        <div class="controls">
            <label class="editor-title input-xlarge" for="projectTitle">Title</label>
            <input id="projectTitle" name="textinput" type="text" ng-model="vm.$layerService.project.title" placeholder="title" class="input-xlarge editor-text-input">
        </div>

        <button type="button" class="btn btn-primary" data-ng-click="vm.updateProject()" style="margin-top: 5px; margin-right: 1em; float: right;">
            <i class="fa fa-save fa-2x"></i>
        </button>
        <button type="button" class="btn btn-primary" data-ng-click="vm.saveSettings()" style="margin-top: 5px; margin-right: 1em; float: right;">
            <i class="fa fa-download fa-2x"></i>
        </button>
    </div>


</div>