<div>


    <div>
        <form name="featureTypeForm">
            <!-- <div data-ng-click="enabled=!enabled" data-ng-class="enabled ? 'bold' : ''">Verander naam {{ featureType.name }}</div> -->

            <!-- <div class="rightpanel-label">Feature id</div>
            <input type="text" data-ng-model="featureType.id" class="form-control" /> -->

            <div class="rightpanel-label">Feature title</div>
            <input type="text" data-ng-model="featureType.name" class="form-control" />

            <div class="rightpanel-label">Icon Image</div>
            <div class="row">
                <div class="col-md-2">
                    <img ng-src="{{ featureType.style['iconUri'] }}" err-src="images/error.png" width="32" height="32" class="img-responsive" />
                </div>
                <div class="col-md-10">
                    <input type="text" data-ng-model="featureType.style['iconUri']" class="form-control">
                </div>
            </div>

            <div ng-show="featureType.style['drawingMode'] == 'Point'">
                <div class="row">
                    <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.iconHeight.$invalid }">
                        <div class="rightpanel-label">Icon height</div>
                        <input type="number" name="iconHeight" data-ng-model="featureType.style['iconHeight']" min="0" class="form-control" required>
                    </div>

                    <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.iconWidth.$invalid }">
                        <div class="rightpanel-label">Icon width</div>
                        <input type="number" name="iconWidth" data-ng-model="featureType.style['iconWidth']" min="0" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="rightpanel-label">Fill color</div>
                    <spectrum-colorpicker data-ng-model="featureType.style['fillColor']" options="{ cancelText: 'Cancel', chooseText: 'Select', format: 'hex' }"></spectrum-colorpicker>
                </div>

                <div class="col-md-3">
                    <div class="rightpanel-label">Stroke</div>
                    <spectrum-colorpicker data-ng-model="featureType.style['strokeColor']" options="{cancelText: 'Cancel', chooseText: 'Select',format: 'hex'}"></spectrum-colorpicker>
                </div>

                <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.strokeWidth.$invalid }">
                    <div class="rightpanel-label">Stroke width</div>
                    <input type="number" name="stroke" data-ng-model="featureType.style['strokeWidth']" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.cornerRadius.$invalid }">
                    <div class="rightpanel-label">Corner radius (%)</div>
                    <input type="number" name="cornerRadius" data-ng-model="featureType.style['cornerRadius']" class="form-control">
                </div>
                <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.opacity.$invalid }">
                    <div class="rightpanel-label">Opacity</div>
                    <input type="number" name="opacity" data-ng-model="featureType.style['opacity']" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 checkbox dashboard-edit-checkbox" style="margin-left: 20px">
                    <input ng-disabled="vm.noLayerSelected" type="checkbox" id="showAllProperties-{{featureType.id}}" ng-model="featureType.showAllProperties">
                    <label for="showAllProperties-{{featureType.id}}">Show all properties</label>
                </div>
            </div>

            <button class="btn btn-primary rightpanel-button" data-ng-click="vm.updateFeatureTypes(featureType)">Opslaan</button>
        </form>
    </div>

</div>
