<div data-ng-cloak>
    <h4 class="rightpanel-header">
        &nbsp;&nbsp;Verander FeatureTypes
    </h4>
    <div class="tab-content" style="top:50px; width:355px; overflow-y: auto; overflow-x: hidden" resize resize-y="150">
      <select id="selectResource" ng-model="vm.selectedResourceUrl" class="form-control tt-input editor-text-input" ng-change="vm.selectResource()">
        <option ng-repeat="(key, types) in vm.$layerService.typesResources" ng-value="key">{{key}}</option>
        </select>

        <table class="table table-condensed" style="margin-top:10px">
            <tr data-ng-repeat="(key, featureType) in vm.selectedResource.featureTypes">
                <td data-ng-click="enabled=!enabled">
                    <a data-ng-class="enabled ? 'fa fa-caret-right makeNarrow' : 'fa fa-caret-down makeNarrow'" style="cursor:pointer;"></a>
                </td>
                <td>
                    <div data-ng-show="!enabled" data-ng-click="enabled=!enabled" style="cursor:pointer;">{{ featureType.name }}</div>

                    <div data-ng-show="enabled">
                        <form name="featureTypeForm">
                            <div data-ng-click="enabled=!enabled" data-ng-class="enabled ? 'bold' : ''">Verander naam {{ featureType.name }}</div>

                            <div class="rightpanel-label">Feature naam</div>
                            <input type="text" data-ng-model="featureType.name" class="form-control" />

                            <div class="rightpanel-label">Icoon link</div>
                            <div class="row">
                                <div class="col-md-2">
                                    <img ng-src="{{ featureType.style['iconUri'] }}" err-src="images/error.png" width="32" height="32" class="img-responsive" />
                                </div>
                                <div class="col-md-10">
                                    <input type="text" data-ng-model="featureType.style['iconUri']" class="form-control">
                                </div>
                            </div>

                            <div ng-show="featureType.style['drawingMode'] == 'Point'">
                                <div class="row">
                                    <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.iconHeight.$invalid }">
                                        <div class="rightpanel-label">Icoonhoogte</div>
                                        <input type="number" name="iconHeight" data-ng-model="featureType.style['iconHeight']" min="0" class="form-control" required>
                                    </div>

                                    <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.iconWidth.$invalid }">
                                        <div class="rightpanel-label">Icoonbreedte</div>
                                        <input type="number" name="iconWidth" data-ng-model="featureType.style['iconWidth']" min="0" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="rightpanel-label">Vulkleur</div>
                                    <spectrum-colorpicker data-ng-model="featureType.style['fillColor']" options="{ cancelText: 'Annuleren', chooseText: 'Kiezen' }"></spectrum-colorpicker>
                                </div>

                                <div class="col-md-3">
                                    <div class="rightpanel-label">Lijnkleur</div>
                                    <spectrum-colorpicker data-ng-model="featureType.style['strokeColor']" options="{cancelText: 'Annuleren', chooseText: 'Kiezen'}"></spectrum-colorpicker>
                                </div>

                                <div class="col-md-6" ng-class="{ 'has-error': featureTypeForm.strokeWidth.$invalid }">
                                    <div class="rightpanel-label">Lijnbreedte</div>
                                    <input type="number" name="strokeWidth" data-ng-model="featureType.style['strokeWidth']" class="form-control" required>
                                </div>
                            </div>

                            <button class="btn btn-primary rightpanel-button" data-ng-click="vm.updateFeatureTypes(featureType)">Opslaan</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
