<div>
    <h4 class="rightpanel-header">
        <i class="layersIcon rightpanel-header-icon" />User Login
    </h4>
    <!-- Login form-->
    <div ng-hide="vm.profileService.loggedIn || showRegisterForm">
        <form name="loginForm" ng-submit="vm.validateUser()" novalidate>
            <div class="layer-actions">
                <button ng-disabled="!loginForm.$valid" type="submit" class="layer-action save">
                    <span class="fa fa-save layer-action-icon" />login
                </button>
                <button class="layer-action">
                    <span class="fa fa-times layer-action-icon" />cancel
                </button>
            </div>

            <div style="padding:10px">                
                <div class="form-group" ng-class="{ 'has-error': loginForm.userName.$invalid }">
                    <label class="editor-title input-xlarge" for="userName">{{'EMAIL' | translate}}</label>
                    <input type="text" class="form-control" name="userName" id="userName" ng-model="vm.userName" placeholder="Enter email address"
                        required>
                    <span class="help-block" ng-show="loginForm.userName.$error.required">Not a valid username</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error': loginForm.userPassword.$required }">
                    <label class="editor-title input-xlarge" for="groupDescription">{{'PASSWORD' | translate}}</label>
                    <input type="password" class="form-control" name="userPassword" id="userPassword" ng-model="vm.userPassword" placeholder="Enter password"
                        required>
                    <span class="help-block" ng-show="loginForm.userPassword.$error.required">Not a valid password</span>
                </div>

                <div>
                    <a ng-click="showRegisterForm = true">
                        Don't have an account yet? Signup!
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- Register form -->
    <div ng-hide="vm.profileService.loggedIn || !showRegisterForm">
        <form name="registerForm" ng-submit="vm.signupUser()" novalidate>
            <div class="layer-actions">
                <button ng-disabled="!registerForm.$valid" type="submit" class="layer-action save">
                    <span class="fa fa-save layer-action-icon" />signup
                </button>
                <button class="layer-action">
                    <span class="fa fa-times layer-action-icon" />cancel
                </button>
            </div>

            <div style="padding:10px">
                <div class="form-group" ng-class="{ 'has-error': loginForm.name.$invalid }">
                    <label class="editor-title input-xlarge" for="name">{{'NAME' | translate}}</label>
                    <input type="text" class="form-control" name="name" id="name" ng-model="vm.name" placeholder="Enter name"
                        required>
                    <span class="help-block" ng-show="loginForm.userName.$error.required">Not a valid username</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error': loginForm.userName.$invalid }">
                    <label class="editor-title input-xlarge" for="userName">{{'EMAIL' | translate}}</label>
                    <input type="text" class="form-control" name="userName" id="userName" ng-model="vm.userName" placeholder="Enter email address"
                        required>
                    <span class="help-block" ng-show="loginForm.userName.$error.required">Not a valid username</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error': loginForm.userPassword.$required }">
                    <label class="editor-title input-xlarge" for="groupDescription">{{'PASSWORD' | translate}}</label>
                    <input type="password" class="form-control" name="userPassword" id="userPassword" ng-model="vm.userPassword" placeholder="Enter password"
                        required>
                    <span class="help-block" ng-show="loginForm.userPassword.$error.required">Not a valid password</span>
                </div>

                <div>
                    <a ng-click="showRegisterForm = false">
                        Already have an account? Login!
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- Logged in, show user profile -->
    <div ng-show="vm.profileService.loggedIn">
        <div class="layer-actions">
            <button ng-click="vm.logout()" class="layer-action save">
                <span class="fa fa-save layer-action-icon" />logout
            </button>
        </div>
    </div>
    <div class="form-horizontal profile-tab-form" ng-show="vm.profileService.loggedIn && vm.profileService.profile">
        <h3 style="margin-left: -18px">User details</h3>
        <div class="form-group">
            <label for="name-box" class="profile-tab-label">Name:</label>
            <input type="text" ng-model="vm.profileService.profile.name" disabled></input>
        </div>
        <div class="form-group">
            <label for="name-box" class="profile-tab-label">E-mail:</label>
            <input type="text" ng-model="vm.profileService.profile.email" disabled></input>
        </div>
        <div class="form-group">
            <label for="name-box" class="profile-tab-label">Is admin:</label>
            <input type="checkbox" ng-model="vm.profileService.profile.admin" disabled></input>
        </div>
    </div>
</div>
