<div class="container-fluid" id="kanban">
    <div id="columns">
        <div ng-repeat="column in vm.kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">
            <kanban-column column="column" class="kanbanColumn-column" />
        </div>

        <div ng-show="vm.kanban.canAdd" class="card-new-button dropdown" tooltip="add new card"  tooltip-placement="right" tooltip-trigger="'mouseenter'" tooltip-append-to-body="false">
            <span class="fa fa-2x fa-plus" style="margin-left:14px;margin-top:12px;" data-toggle="dropdown"></span>
            <ul class="dropdown-menu" role="menu" style="color:black">
                <li class="available-featuretype" ng-repeat="(key,val) in vm.featureTypes">
                    <a ng-click="vm.addFeature(key)">
                        <img ng-src="{{val.style.iconUri}}">
                        <span style="margin-left:8px;font-size:18px">{{val.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
