<div resize resize-y="150">
    <div class="kanbanColumn-title">{{column.title}}</div>

    <!-- <form>
        <input type="text" ng-model="query"></input>
    </form> -->
    <div style="margin-right:10px;margin-top:12px;position:absolute;right:0;top:0">
        <!-- <span class="fa fa-cog kanbanColumn-option" style="color:gray"></span> -->
        <div ng-if="fields['prio']" class="dropdown kanbanColumn-option">
            <span tooltip=" {{columnOrderTitle}} on top" tooltip-append-to-body="true" class="fa fa-sort-amount-asc dropdown-toggle" data-toggle="dropdown" style="color:gray"></span>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="order in vm.sortOptions" class="kanbanColumn-order-option" style="position:relative">
                    <div style="width:20px;top:2px;left:2px;position:absolute">
                        <span class="fa fa-check" ng-if="order == columnOrderTitle"></span>
                    </div>
                    <a style="float:left;cursor:pointer" data-ng-click="vm.setOrder(order)">{{order}} on top</a>
                </li>
            </ul>
        </div>
        <div class="kanbanColumn-option">
            <span tooltip="select filter" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="fa fa-tags" style="color:gray" ng-click="showTags = !showTags"></span>
        </div>
    </div>

    <div class="kanbanColumn-tags" ng-if="showTags">
        <div class="filter-row">
            <div class="filter-title">tags</div>
            <input type="text" ng-list="," class="filter-values" ng-model="column.filters.tags">
        </div>
        <div class="filter-row" style="top:25px">
            <div class="filter-title">roles</div>
            <input type="text" ng-list="," class="filter-values" ng-model="column.filters.roles">
        </div>
    </div>

    <div class="card-list-scroll-container">
        <div class="card-list-container">
            <ul class="card-list">
                <!-- <li class="card-item" ng-class="{ true : 'isQuestion' } [feature.properties[fields['question']]!=null]" } ng-repeat="feature in vm.layer.data.features | orderBy:columnOrderBy:false | filter:query | filter:columnFilter"> -->
                <li class="card-item" ng-class="vm.getClass(feature)" } ng-repeat="feature in vm.layer.data.features | orderBy:columnOrderBy:false | filter:query | filter:columnFilter">
                    <div style="float:left">
                        <img ng-src="{{feature.effectiveStyle.iconUri}}" style="width:20px;height:20px;margin-right:5px"></img>
                    </div>
                    <div ng-click="vm.selectFeature(feature)" class="card-title">{{feature.properties[fields['title']]}}</div>
                    <div class="card-description">{{feature.properties[fields['description']]}}</div>
                    <div ng-show="feature.properties[fields['question']]" style="margin-left:25px">
                        <!-- <button  ng-hide="feature.gui.questions" class="btn btn-primary" ng-click="vm.createForm(feature)">answer</button> -->
                        <div ng-if="feature.gui.questions" style="margin-bottom:10px">
                            <form name="question-form-{{feature.id}}">
                                <div ng-repeat="question in feature.gui.questions">
                                    <div ng-switch='question.ptype.type'>
                                        <div ng-switch-when="category">
                                            <button ng-repeat="cat in question.ptype.categories" class="btn" ng-class="{'btn-primary' : feature.properties[question.property] === cat}" style="margin:5px" ng-click="vm.saveCategory(feature,question.property,cat)">
                                                <span style="text-align:center">{{cat}}</span>
                                            </button>
                                        </div>
                                        <div ng-switch-default>
                                            <input type="text" ng-model="feature.properties[question.property]">
                                            <button class="btn fa fa-check" ng-click="vm.sendForm(feature)"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-if="feature.properties[fields['media']]" style="margin-left:30px">
                        <div ng-repeat="media in feature.properties[fields['media']]">
                            <img ng-click="vm.selectFeature(feature)" ng-src="{{media}}" style="height:50px;cursor:pointer"></img>
                        </div>
                    </div>

                    <!-- <span ng-repeat="t in feature.properties['tags']">[{{t}}]</span> -->

                    <span style="margin-left:25px;color:gray;opacity:0.75">
                        <span class="fa fa-clock-o" /> {{feature.gui.relativeTime}}
                    </span>
                    <div ng-if="fields['prio']" tooltip="Set priority" tooltip-append-to-body="true" class="card-prio dropdown" ng-click="vm.clickPrio($event)" ng-style="vm.getPrioColor(feature)">
                        <span href="" class="dropdown-toggle" data-toggle="dropdown">{{feature.properties[fields['prio']]}}</span>
                        <ul class="dropdown-menu" style="right:0;left:auto" role="menu">
                            <li>
                                <a data-ng-click="feature.properties[fields['prio']]=1;vm.updateFeature(feature)">1 - very high</a>
                            </li>
                            <li>
                                <a data-ng-click="feature.properties[fields['prio']]=2;vm.updateFeature(feature)">2 - high</a>
                            </li>
                            <li>
                                <a data-ng-click="feature.properties[fields['prio']]=3;vm.updateFeature(feature)">3 - moderate</a>
                            </li>
                            <li>
                                <a data-ng-click="feature.properties[fields['prio']]=4;vm.updateFeature(feature)">4 - low</a>
                            </li>
                            <li>
                                <a data-ng-click="feature.properties[fields['prio']]=5;vm.updateFeature(feature)">5 - very low</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-button card-share dropdown" tooltip="Share" tooltip-append-to-body="true">
                        <span href="" class="dropdown-toggle fa fa-share" data-toggle="dropdown"></span>
                        <ul class="dropdown-menu" style="right:0;left:auto" role="menu">
                            <li ng-repeat="role in column.roles" style="padding:3px;color:black">
                                <label>
                                    <input type="checkbox" ng-checked="feature.properties['roles'].indexOf(role)!==-1" style="margin:3px" data-ng-click="vm.toggleRole(feature,role)" style="float:left">
                                    <span style="font-size:14px">{{role}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="card-item-options">
                        <div tooltip="Edit feature" tooltip-append-to-body="true" ng-click="vm.editFeature(feature)" class="card-button card-edit">
                            <span href="" class="fa fa-pencil"></span>
                        </div>

                        <div ng-show="feature.geometry" tooltip="Show on map" tooltip-append-to-body="true" ng-click="vm.searchFeature(feature)" class="card-button card-map">
                            <span href="" class="fa fa-search"></span>
                        </div>

                        <div ng-hide="!feature.gui.questions" ng-click="vm.createForm(feature)" class="card-button card-question">
                            <span href="" class="fa fa-question"></span>
                        </div>

                        <div ng-show="column.actions" class="card-button card-actions">
                            <span href="" class="dropdown-toggle fa fa-external-link" data-toggle="dropdown"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="action in column.actions">
                                    <a data-ng-click="vm.startAction(action,feature)">{{action}}</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
