<div class="container-fluid" id="kanban">
    <style>
        .kanbanColumnSettings {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
        }

        .card-list {
            list-style: none;
            padding: 0;
            width: 100%
        }

        .card-item {
            min-height: 50px;
            margin-bottom: 20px;
            width: 100%;
            -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
            transition: box-shadow 1s;
            transition: -webkit-box-shadow 1s;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            position: relative;
        }

        .kanbanColumn-title
        {
            font-size: 30px;
            float: left;
        }

        .kanbanColumn-column
        {
            position: relative;
            display: inline-block;width:300px;float:left
        }
    </style>

    <div id="columns">
        <div class="kanbanColumn-column"  ng-repeat="column in vm.kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">

            <div class="kanbanColumn-title">{{column.title}}</div>
            <div style="float:right;margin-right:10px;margin-top:12px;">
            <span class="fa fa-cog" style="color:gray"></span>
            <span class="fa fa-cog" style="color:gray"></span>
            <div>

            <ul ng-class="sortableClassFor(column)" class="card-list" >
                <li class="card-item" ng-repeat="feature in column.layer.data.features | orderBy:'insertDate':true" ng-click="vm.selectFeature(feature)">

                    <span>{{feature.properties['Name']}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
