<div class="container-fluid" id="kanban" style="width:300px">
    <style>
        .kanbanRowSettings{
            background: blue;
            position: absolute;
            top: 0;
            right: 0;
            width:40px;
            height:40px;
        }
    </style>
    <div class="kanbanRowSettings">
        <span class="fa fa-2x fa-cog" style="position:absolute;left:7px;top:5px;color:white"></span>
    </div>
    <div id="columns">
      <div style="width: 50%;display: inline-block;" ng-repeat="column in kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">
          <div class="column" style="background-color: {{column.settings.color}}">
            <div class="columnHeader">
               <a title="Column settings" ng-click="columnSettings(kanban, column)" ng-model="column" ng-hide="editing"><i class="glyphicon glyphicon-wrench"></i></a>
                <a title="Add card to column" class="pull-right" ng-click="addNewCard(column)" ng-hide="columnLimitsReached(column)"><i class="glyphicon glyphicon-plus"></i></a>
                <span>{{column.name}} ({{columnLimitsTextFor(column)}})</span>
            </div>
            <ul ng-class="sortableClassFor(column)" ui-sortable="{connectWith: '#kanban ul.cards'}" ng-model="column.cards" style="min-height:{{columnHeight}}px;max-height:{{columnHeight}}px;">
                <li class="card" ng-repeat="card in column.cards" style="background-color: #{{colorFor(card)}};">
                    <a class="pull-right" ng-click="delete(card, column)"><i class="glyphicon glyphicon-remove"></i></a>
                    <a class="pull-right" title="Archive" ng-click="archive(kanban, column, card)" ng-show="isLastColumn(column.name, kanban)"><i class="glyphicon glyphicon-folder-close"></i></a>
                    <a ng-click="openCardDetails(card)"><span>{{card.name}}</span></a>
                </li>
            </ul>
        </div>
      </div>
</div>
