<div style="margin-top:5px">
    <div context-menu="options()">
        <div style="display:inline-block; width:100%;">
            <h4 style="display:inline-block;">{{filter.title}}</h4>
            <div class="left-menu dropdown-toggle pull-left" style="float: right!important; position:relative;" ng-click="vm.openLayerMenu($event)"></div>
            <a class="btn fa fa-remove" style="float: right;" ng-click="vm.remove()"></a>
        </div>
        <div id="filter_{{filter.id}}"></div>
        <div ng-hide="editMode">
            <div>from <b>{{filter.from}}</b> to <b>{{filter.to}}</b>
                <button class="btn fa fa-cog" ng-click="editMode=true" style="float:right; margin-right:10px" />
            </div>
        </div>
        <div ng-show="editMode">
            <span>
                <div>
                    <b>{{'FROM' | translate}}</b>
                    <input style="max-width: 60px;" type="text" ng-model="filter.from" />
                    <b>{{'TO' | translate}}</b>
                    <input style="max-width: 60px;" type="text" ng-model="filter.to" />
                    <button class="btn fa fa-check makeNarrow" style="margin-left:4px" ng-click="vm.updateRange();editMode=false"></button>
                    <!--<button class="btn fa fa-remove makeNarrow" style="margin-left:4px" ng-click="editMode=false"></button>-->
                </div>
            </span>
        </div>
    </div>
</div>