<div style="margin-top:5px">
    <style>
        .dc-chart g.row text
        {
            fill: black;
        }
        </style>
    <div context-menu="options()">
        <div style="display:inline-block; width:100%;" ng-hide="filter.showInWidget">
            <h4 style="display:inline-block;">{{filter.title}}</h4>
            <div class="left-menu dropdown-toggle pull-left" style="float: right!important; position:relative;" ng-click="vm.openLayerMenu($event)"></div>
            <a class='btn fa fa-remove' style="float: right;" ng-click="vm.remove()"></a>
            <a class='btn fa fa-save' style="float: right;padding-right:0;" ng-click="vm.exportToImage()" uib-tooltip="{{'SAVE_AS_IMAGE' | translate}}" tooltip-trigger="mouseenter" tooltip-append-to-body="true" ng-show="vm.exporterAvailable"></a>
        </div>
        <div id="filter_{{filter.id}}"></div>
    </div>
