<div style="margin-top: 2px;">
    <div class="row" style="margin: 5px;">
        <h4 class="col-md-12">
            {{data.title}}
        </h4>
    </div>
    <div data-ng-repeat="mca in data.availableMcas" class="row" style="margin: 5px;">
        <div class="col-md-12">
            {{mca.title}}
            <div class="fa fa-paint-brush makeNarrow" ng-click="vm.setMcaAsStyle(mca.id)" style="float:right; cursor:pointer" popover="{{'MCA.SET_STYLE' | translate}}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" />
        </div>
    </div>
</div>
