<div style="margin-top: 2px;">
    <div class="row" style="margin: 5px;">
        <h4 class="col-md-12">
            {{data.title}}
        </h4>
    </div>
    <div>
        <label data-ng-repeat="mca in data.availableMcas" class="row" style="margin: 5px; cursor:pointer" popover="{{'MCA.SET_STYLE' | translate}}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
            <input type="radio" ng-model="vm.selectedMCA" value="{{mca.id}}" ng-click="vm.setMcaAsStyle(mca.id)">&nbsp;&nbsp;{{mca.title}}
        </label><br/>
    </div>
</div>
