<div data-ng-cloak class="rightpanel-content" style="max-width: 355px">
    <h4 class="rightpanel-header">
        <img data-ng-if="callOut.icon" data-ng-src="{{callOut.icon}}" width="24" height="24" style="margin-left:5px" alt="Icon" /> &nbsp;&nbsp;{{callOut.title}}
    </h4>
    <div class="container-fluid rightpanel-tabs" style="position: relative">
        <div class="row" style="overflow:hidden" ng-if="callOut.sectionCount() < 5">
            <!-- Nav tabs -->
            <span id="leftArr" style="display:block;padding:10px;margin-top:5px;position:absolute;background-color:transparent;z-index:2">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </span>
            <span id="rightArr" style="display:block;padding:10px;margin-top:5px;position:absolute;background-color:transparent;z-index:2">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </span>
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" data-ng-class="{active : $first}" data-ng-repeat="(sectionTitle, section) in callOut.sections" ng-if="section.hasProperties()">
                    <a ng-href="#rp-{{$index}}" data-toggle="tab" data-ng-if="section.showSectionIcon()" ng-click="featureTabActivated(sectionTitle, section)"><i class="fa {{section.sectionIcon}}"></i></a>
                    <a ng-href="#rp-{{$index}}" data-toggle="tab" data-ng-if="!section.showSectionIcon()" ng-click="featureTabActivated(sectionTitle, section)">{{sectionTitle}}</a>
                </li>
            </ul>
        </div>

        <div class="row" ng-if="callOut.sectionCount() >= 5">
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" class="active" ng-init="firstCallOutsection=callOut.firstSection()">
                    <a ng-href="#rp-0" data-toggle="tab" data-ng-if="firstCallOutsection.showSectionIcon()">
                        <i class="fa {{firstCallOutsection.sectionIcon}}"></i>
                    </a>
                </li>
                <li class="dropdown" ng-init="selectedSection.title='...'">
                    <a style="cursor:pointer" data-toggle="dropdown">{{selectedSection.title}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="(sectionTitle, section) in callOut.sections" ng-if="!$last">
                            <a ng-href="#rp-{{$index}}" ng-click="selectedSection.title = sectionTitle" data-toggle="tab">{{sectionTitle}}</a>
                        </li>
                    </ul>
                </li>
                <li data-toggle="tab" ng-init="lastCallOutsection=callOut.lastSection()">
                    <a ng-href="#rp-{{callOut.sectionCount()-1}}" data-toggle="tab" data-ng-if="lastCallOutsection.showSectionIcon()">
                        <i class="fa {{lastCallOutsection.sectionIcon}}"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content" style="top:50px; width:355px; overflow-y: auto; overflow-x: hidden" resize resize-y="150">
        <div data-ng-if="!$last" class="tab-pane" data-ng-class="{active : $first}" id="rp-{{$index}}" data-ng-repeat="(sectionTitle, section) in callOut.sections">
            <!--<td>
                    <span class="dropdown">
                        <a href class="fa fa-circle-o makeNarrow dropdown-toggle"></a>
                        <ul class="dropdown-menu">
                            <li><a data-ng-click="vm.$layerService.createScatter(item)">scatter plot</a></li>
                            <li><a>add to dashboard</a></li>
                        </ul>
                    </span>
                </td>-->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" popover="{{(item.description) ? item.description : ''}}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" data-ng-repeat="item in section.properties">
                    <div class="panel-heading" style="min-height: 36px">
                      <div data-ng-switch="item.meta.type">
                        <div ng-switch-when="layer">
                          <a ng-click="vm.openLayer(item)">{{item.meta.title}}</a>
                        </div>
                        <div ng-switch-default>
                        <div class="pull-left accordionIcon">
                            <a class="fa fa-filter makeNarrow" data-ng-show="item.canFilter" data-ng-click="vm.$layerService.setPropertyFilter(item)" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left accordionIcon">
                            <a class="smallStyleIcon makeNarrow" data-ng-show="item.canStyle" data-ng-click="vm.$layerService.setStyle(item)" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left accordionIcon" data-ng-if="item.isSensor">
                            <a class="fa fa-line-chart makeNarrow" data-toggle="collapse" data-target="#sensor{{item.property}}" href="#sensor{{item.property}}" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left" style="margin-left: 4px;">
                            {{item.key}}
                        </div>
                        <div class="text-right" data-ng-bind-html="vm.toTrusted(item.value)"></div>
                        <div id="sensor{{item.property}}" data-ng-if="item.isSensor" class="panel-collapse collapse" style="padding-top: 10px;">
                            <sparkline-chart timestamps="item.timestamps" sensor="item.sensor" width="320" height="90" showaxis="true"></sparkline-chart>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Treat last tab (filter) differently -->
        <div data-ng-if="$last" class="tab-pane" data-ng-class="{active : $first}" id="rp-{{$index}}" data-ng-repeat="(sectionTitle, section) in callOut.sections">
            <!-- Add filter panel to the last rendered element -->
            <div class="has-feedback" style="padding:0 4px 4px 4px;">
                <span style="direction: ltr; position: static; display: block;">
                    <input id="searchbox" data-ng-model="search.key" type="text" placeholder="Filter" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top;" class="form-control tt-input">
                </span>
                <span id="searchicon" class="fa form-control-feedback fa-filter"></span>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" popover="{{(item.description) ? item.description : ''}}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" data-ng-repeat="item in section.properties">
                    <div class="panel-heading" style="min-height: 36px">
                        <div class="pull-left accordionIcon">
                            <a class="fa fa-filter makeNarrow" data-ng-show="item.canFilter" data-ng-click="vm.$layerService.setPropertyFilter(item)" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left accordionIcon">
                            <a class="fa fa-eye makeNarrow" data-ng-show="item.canStyle" data-ng-click="vm.$layerService.setStyle(item)" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left accordionIcon" data-ng-if="item.isSensor">
                            <a class="fa fa-line-chart makeNarrow" data-toggle="collapse" data-target="#fsensor{{item.property}}" href="#fsensor{{item.property}}" style="cursor: pointer"></a>
                        </div>
                        <div class="pull-left" style="margin-left: 4px;">
                            {{item.key}}
                        </div>
                        <div class="text-right" data-ng-bind-html="vm.toTrusted(item.value)"></div>
                        <div id="fsensor{{item.property}}" data-ng-if="item.isSensor" class="panel-collapse collapse">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<input style="padding:4px;" class=" form-control" data-ng-model="search" placeholder="...">-->
            <!--<table id="searchTextResults" class="table table-condensed">
                <tr popover="{{(item.description) ? item.description : ''}}"
                    popover-placement="left"
                    popover-trigger="mouseenter"
                    popover-append-to-body="true"
                    data-ng-repeat="item in section.properties | filter:search">
                    <td><a class="fa fa-filter makeNarrow" data-ng-show="item.canFilter" data-ng-click="vm.$layerService.setFilter(item)"></a></td>
                    <td><a class="fa fa-eye makeNarrow" data-ng-show="item.canStyle" data-ng-click="vm.$layerService.setStyle(item)"></a></td>
                    <td>{{item.key}}</td>
                    <td class="text-right" data-ng-bind-html="vm.toTrusted(item.value)"></td>
                </tr>
            </table>-->
        </div>

        <!--SimpleTimeline component-->
        <div data-ng-if="vm.showSimpleTimeline" style="margin-left: 10px">
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{vm.focusTime}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="ts in vm.timestamps" data-ng-click="vm.setTime(ts)">{{ts.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
