<div data-ng-cloak class="rightpanel-content" id="featureprops-content">
    <h4 class="rightpanel-header">
        <!-- Show popup with complete title for long names -->
        <div ng-if="callOut.title.length >= 21" uib-popover="{{callOut.title}}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" style="overflow: hidden;text-overflow: ellipsis;">
            <img data-ng-if="callOut.icon" ng-src="{{callOut.icon}}" ng-style="{'background': ($parent.feature.effectiveStyle.fillColor ? $parent.feature.effectiveStyle.fillColor : 'none')}" class="callout-icon" alt="Icon" /> &nbsp;&nbsp;{{callOut.title}}
        </div>
        <div ng-if="callOut.title.length < 21">
            <img data-ng-if="callOut.icon" ng-src="{{callOut.icon}}" ng-style="{'background': ($parent.feature.effectiveStyle.fillColor ? $parent.feature.effectiveStyle.fillColor : 'none')}" class="callout-icon" alt="Icon" /> &nbsp;&nbsp;{{callOut.title}}
        </div>
    </h4>

    <div class="container-fluid rightpanel-tabs" style="position: relative;height:45px">
        <div class="row" style="overflow:hidden" ng-if="callOut.sectionCount() < 3" ng-hide="configMode">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" data-ng-class="{active : $first}" data-ng-repeat="key in callOut.sectionKeys" ng-if="callOut.sections[key].hasProperties()">
                    <a data-target="#rp-{{$index}}" data-toggle="tab" data-ng-if="callOut.sections[key].showSectionIcon()" ng-click="featureTabActivated(key, callOut.sections[key])"><i class="fa {{callOut.sections[key].sectionIcon}}"></i></a>
                    <a data-target="#rp-{{$index}}" data-toggle="tab" data-ng-if="!callOut.sections[key].showSectionIcon()" ng-click="featureTabActivated(key, callOut.sections[key])">{{key}}</a>
                </li>
            </ul>
        </div>

        <div class="row" ng-if="callOut.sectionCount() >= 3" ng-hide="configMode">
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" class="active" ng-init="firstCallOutsection=callOut.firstSection()">
                    <a data-target="#rp-0" data-toggle="tab" data-ng-if="firstCallOutsection.showSectionIcon()">
                        <i class="fa {{firstCallOutsection.sectionIcon}}"></i>
                    </a>
                </li>
                <li class="dropdown" ng-init="selectedSection.title=vm.defaultDropdownTitle">
                    <a class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown">{{selectedSection.title}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- alphabetic sorting disappeared in 1.4 https://docs.angularjs.org/api/ng/directive/ngRepeat -->
                        <li data-ng-repeat="key in callOut.sectionKeys" ng-if="!($first && callOut.hasInfoSection)">
                            <a data-target="#rp-{{$index}}" ng-click="selectedSection.title = key" data-toggle="tab">{{key}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>



    <div ng-if="vm.$mapService.isAdminExpert">
        <div ng-if="configMode" style="margin:5px">
            <feature-type-editor featuretypeid="featureType.id"></feature-type-editor>
        </div>
    </div>

    <div ng-if="!configMode" class="tab-content" style="top:50px; overflow-y: auto; overflow-x: hidden; width: 100%" resize resize-y="150">

         <div ng-show="vm.$mapService.isExpert && feature.layer.isEditable"class="layer-actions" ng-if="!configMode" style="background:white">
            <!--<div class="inner-addon left-addon" style="margin:5px;float:left" ng-focus="">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="propFilter" expand-to="200px" style="width:100px;height:30px" />
            </div>-->

            <button ng-show="vm.$mapService.isExpert && feature.layer.isEditable && !feature._gui.editMode" ng-click="vm.startEditFeature()" class="layer-action"
                popover-placement="bottom" popover-width="300" popover-trigger="mouseenter" popover-append-to-body="true">
                <span class="fa fa-pencil layer-action-icon" />{{'EDIT' | translate}}
            </button>

             <button ng-show="vm.$mapService.isExpert && feature.layer.isEditable && feature._gui.editMode" ng-click="feature._gui.editMode=false;vm.saveFeature()" class="layer-action"
                popover-placement="bottom" popover-width="300" popover-trigger="mouseenter" popover-append-to-body="true">
                <span class="fa fa-check layer-action-icon" />{{'SAVE' | translate}}
            </button>

            <button ng-show="vm.$mapService.isExpert && feature.layer.isEditable" ng-click="vm.removeFeature()" class="layer-action"
                popover-placement="bottom" popover-width="300" popover-trigger="mouseenter" popover-append-to-body="true">
                <span class="fa fa-check layer-action-icon" />{{'REMOVE' | translate}}
            </button>

        </div>

        <div class="tab-pane" data-ng-class="{active : $first}" id="rp-{{$index}}" data-ng-repeat="key in callOut.sectionKeys">

            <div class="panel-group" id="accordion">
                <form name="form" class="css-form" style="padding-bottom:40px" novalidate>
                    <div class="panel feature-prop-property" uib-popover="{{(item.description) ? item.description : ''}}" popover-placement="left"
                    popover-trigger="mouseenter" popover-append-to-body="true" data-ng-repeat="item in callOut.sections[key].properties">
                        <div ng-if="feature._gui.editMode || item.propertyType.alwaysEditable" class="property-edit">
                            <div>
                                <div>{{item.propertyType.title}}</div>
                                <ng-form name="userFieldForm">
                                    <div ng-switch="item.propertyType.type">
                                        <input ng-switch-when="date" type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="item.feature.properties[item.property]"
                                        is-open="false" />
                                        <input ng-switch-when="number"  name="number" data-ng-model="item.feature.properties[item.property]" class="form-control">
                                        <p class="not-valid-input" ng-show="userFieldForm.number.$invalid">Not a valid number</p>
                                        <textarea ng-switch-when="textarea" data-ng-model="item.feature.properties[item.property]" class="form-control" />
                                        <input ng-switch-when="tags" type="text" name="tags" ng-list="," data-ng-model="item.feature.properties[item.property]">
                                        <div ng-switch-when="boolean">
                                            <input type="checkbox" data-ng-model="item.feature.properties[item.property]" id="booledit-{{item.property}}" />
                                            <label for="booledit-{{item.property}}">{{item.propertyType.title}}</label>
                                        </div>
                                        <input ng-switch-when="text" type="text" data-ng-model="item.feature.properties[item.property]" class="form-control" />
                                        <div ng-switch-when="options">
                                            <select id="optionsedit-{{item.property}}" data-ng-model="item.feature.properties[item.property]" class="form-control">
                                                <option ng-selected="item.feature.properties[item.property]===val" ng-repeat="(key, val) in item.propertyType.options track by $index" value="{{key}}">{{val}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </ng-form>
                            </div>
                        </div>

                        <!-- Currently-styled-property background gray -->
                        <div ng-if="!feature._gui.editMode && !item.propertyType.alwaysEditable" class="panel-heading feature-prop-item" ng-style="(item.feature._gui['style'][item.property]) && {'border':'1px solid blue', 'background': 'lightgray'}">
                            <!-- Currently-styled-property background styleColor -->
                            <!-- <div ng-show="!feature._gui.editMode" class="panel-heading" style="border-radius: 3px; min-height: 36px; border: none;" ng-style="(item.feature._gui['style'][item.property]) && {'border':'1px solid blue', 'background': item.feature._gui.style[item.property]}"> -->
                            <div data-ng-switch="item.propertyType.type">
                                <div ng-switch-when="layer">
                                    <a ng-click="vm.openLayer(item)">{{item.propertyType.title}}</a>
                                </div>
                                <div ng-switch-default>
                                    <div ng-style="item.isDraft && {'opacity':0.5}" class="feature-prop-title">{{item.propertyType.title}}</div>
                                    <div ng-if="!item.configMode" ng-hide="item.propertyType.hideValue" data-ng-switch="item.propertyType.type" class="feature-prop-value">
                                        <div ng-switch-when="date" class="feature-prop-value-align-right clickable-feature-prop" ng-click="vm.zoomToDate(item.feature.properties[item.property])">
                                            {{item.value}}</div>
                                          <div ng-switch-when="duration" class="feature-prop-value-align-right clickable-feature-prop">
                                            {{item.value}}</div>
                                        <div ng-switch-when="boolean" class="feature-prop-value-align-right">{{item.feature.properties[item.property]}}</div>
                                        <div ng-switch-when="category" class="feature-prop-value-align-right">{{vm.toTrusted(item.feature.properties[item.property])}}</div>
                                        <div ng-switch-when="textarea" class="enable-newlines" style="clear:both" data-ng-bind-html="vm.toTrusted(item.feature.properties[item.property])"></div>
                                        <div ng-switch-when="bbcode" class="feature-prop-value-align-right" ng-bind-html="vm.toTrusted(item.value)"></div>
                                        <div ng-switch-when="feature" class="enable-newlines clickable-feature-prop" style="clear:both" ng-bind-html="vm.toTrusted(item.value)" ng-click="vm.selectFeature(item.feature)"></div>
                                        <div ng-switch-when="media">
                                            <!-- <img ng-src="{{item.feature.properties[item.property]}}" style="width:300px; float:left;margin:5px"></img> -->
                                            <div style="cursor:pointer" ng-click="vm.openImage(media)" ng-repeat="media in item.feature.properties[item.property] track by $index">
                                                <img ng-hide="item.propertyType.inlineImage" ng-src="{{media}}" style="width:300px;float:left;margin:5px">
                                                <img ng-show="item.propertyType.inlineImage" ng-src="{{media}}" class="feature-prop-value-align-right">
                                            </div>
                                        </div>
                                        <div ng-switch-default class="feature-prop-value-align-right" data-ng-bind-html="vm.toTrusted(item.value)"></div>
                                    </div>
                                    <div class="feature-prop-content" ng-if="!item.configMode">
                                        <div ng-if="item.showMore" data-ng-switch="item.propertyType.type" style="margin-bottom:10px">
                                            <div ng-switch-when="number" class="feature-prop-stats">
                                                <span class="item-stat"><span class="item-stat-title" uib-popover="{{'STATS.COUNT_TOOLTIP' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" translate>STATS.COUNT</span>
                                                    <span class="item-stat-value">{{item.stats.count | number}}</span>
                                                </span>
                                                <span class="item-stat"><span class="item-stat-title" uib-popover="{{'STATS.MIN_TOOLTIP' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" translate>STATS.MIN</span>
                                                    <span class="item-stat-value">{{item.stats.min | number}}</span>
                                                </span>
                                                <span class="item-stat"><span class="item-stat-title" uib-popover="{{'STATS.MAX_TOOLTIP' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" translate>STATS.MAX</span>
                                                    <span class="item-stat-value">{{item.stats.max | number}}</span>
                                                </span>
                                                <span class="item-stat"><span class="item-stat-title" uib-popover="{{'STATS.SUM_TOOLTIP' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" translate>STATS.SUM</span>
                                                    <span class="item-stat-value">{{item.stats.sum | number}}</span>
                                                    <!--<span class="item-stat-value" stringy ng-model="item.stats.sum"></span>-->
                                                </span>
                                                <span class="item-stat"><span class="item-stat-title" uib-popover="{{'STATS.MEAN_TOOLTIP' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" translate>STATS.MEAN</span>
                                                    <span class="item-stat-value">{{item.stats.mean | number}}</span>
                                                </span>
                                                <!-- <button class="button" ng-click="vm.setCorrelation(item,$event)">cor</button> -->
                                            </div>
                                            <!-- <div ng-repeat="(key,cor) in item.cors">
                                                    <div><span>{{key}}</span>:<span>{{cor.value}}</span>
                                                </div> -->
                                        </div>
                                        <div data-ng-if="item.isSensor" style="margin-bottom:10px;margin-top:10px" id="featurepropchart_{{item._id}}">
                                            <!--<sparkline-chart timestamps="item.timestamps" sensor="item.sensor" width="320" height="100" showaxis="true"></sparkline-chart>-->
                                        </div>
                                        <div class="icons-on-hover" ng-if="!item.configMode">
                                            <div class="property-action" style="right:0px" uib-popover="{{'UTILS.FILTER' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
                                                <a data-ng-if="item.canFilter" data-ng-hide="vm.$layerService.findFilter(item.feature.layer.group, item.property)" class="fa fa-filter pointer makeNarrow"
                                                data-ng-click="vm.setFilter(item,$event)"></a>
                                                <a data-ng-if="vm.$layerService.findFilter(item.feature.layer.group, item.property)" class="fa fa-filter smallFaIconSelected makeNarrow"
                                                data-ng-show="item.canFilter" data-ng-click="vm.setFilter(item,$event)"></a>
                                            </div>
                                            <div data-ng-if="item.canStyle" class="property-action" style="left:15px" uib-popover="{{'UTILS.STYLE' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
                                                <a data-ng-hide="item.feature._gui['style'][item.property]" class="fa fa-paint-brush makeNarrow" data-ng-click="vm.$layerService.toggleStyle(item);vm.selectProperty(item.propertyType,$event)"></a>
                                                <a data-ng-show="item.feature._gui['style'][item.property]" class="fa fa-paint-brush smallFaIconSelected makeNarrow pointer" data-ng-click="vm.$layerService.toggleStyle(item);vm.selectProperty(item.propertyType,$event)"></a>
                                            </div>
                                            <div ng-if="item.canShowStats && item.propertyType.type === 'number'" class="property-action" style="left:30px" uib-popover="{{'UTILS.STATS' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
                                                <a class="fa fa-calculator makeNarrow pointer" ng-click="item.showMore=!item.showMore;vm.getPropStats(item)"></a>
                                            </div>
                                            <div ng-if="item.isSensor" class="property-action" style="left:45px" uib-popover="{{'UTILS.CHART' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
                                                <a class="fa fa-area-chart makeNarrow pointer" ng-click="vm.createSparkLineChart(item)"></a>
                                            </div>
                                            <div ng-if="vm.$mapService.isAdminExpert" class="property-action" style="left:60px" uib-popover="{{'UTILS.CONFIG' | translate}}" uib-popover-popup-delay="750" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
                                                <a class="fa fa-cog makeNarrow pointer" data-toggle="collapse" ng-click="item.configMode=!item.configMode"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="item.configMode" class="feature-prop-config">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Title</div>
                                                <input type="text" data-ng-model="item.propertyType.title" class=" form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Property</div>
                                                <input type="text" data-ng-model="item.propertyType.label" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Description</div>
                                                <input type="text" data-ng-model="item.propertyType.description" class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Type</div>
                                                <select data-ng-model="item.propertyType.type" ng-options="item for item in ['bbcode', 'color', 'date', 'number', 'text', 'textarea', 'options']"
                                                class="form-control"></select>
                                            </div>
                                        </div>

                                        <!--<div class="row">
                                            <div class="col-md-6" style="margin-left: 20px;">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" data-ng-model="propertyType.visibleInCallOut" id="visibleInCallOut-{{propertyType.title}}" />
                                                    <label for="visibleInCallOut-{{item.propertyType.title}}">Zichtbaar</label>
                                                </div>
                                            </div>

                                            <div class="col-md-4" style="margin-left: 20px;">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" data-ng-model="propertyType.isSearchable" id="isSearchable-{{propertyType.title}}" />
                                                    <label for="isSearchable-{{item.propertyType.title}}">Vindbaar</label>
                                                </div>
                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="form-inline">
                                                    <div class="rightpanel-label">Section</div>
                                                    <input type="text" ng-enter="addSection(item.propertyType.section)" data-ng-model="item.propertyType.section" style="width: 200px;"
                                                    class="form-control" />
                                                    <div class="btn-group">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <!-- <ul class="dropdown-menu">
                                                <div ng-repeat="section in sections track by $index">
                                                    <div style="cursor: pointer; margin-left: 4px;" data-ng-click="item.propertyType.section=section"><i class="fa fa-angle-right"></i> {{ section }}</div>
                                                </div>
                                            </ul> -->
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12" ng-show="item.propertyType.type === 'number'">
                                                <div class="rightpanel-label">Min/max value</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="number" data-ng-model="item.propertyType.min" class="form-control" placeholder="Min">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" data-ng-model="item.propertyType.max" class="form-control" placeholder="Max">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" ng-show="item.propertyType.type === 'number'">
                                                <div class="rightpanel-label">String format</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" data-ng-model="item.propertyType.stringFormat" class="form-control" placeholder="Stringformat">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="row">
                                            <div class="col-md-6">
                                                <input type="checkbox" id="visibleInCallOut-{{featureType.id}}" ng-model="item.propertyType.visibleInCallout">
                                                <label for="visibleInCallOut-{{featureType.id}}">Show all properties</label>
                                            </div>
                                        </div>-->

                                        <button class="btn btn-primary rightpanel-button" ng-click="item.configMode=false;vm.savePropertyType(item)">{{'SAVE' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Treat last tab (filter) differently -->
        </div>
    </div>
</div>
