<div data-ng-cloak class="rightpanel-content" id="featureprops-content" style="max-width: 355px">
    <h4 class="rightpanel-header">
        <!-- Show popup with complete title for long names -->
        <div ng-if="callOut.title.length >= 27" popover="{{callOut.title}}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
            <img data-ng-if="callOut.icon" ng-src="{{callOut.icon}}" width="24" height="24" style="margin-left:5px" alt="Icon" /> &nbsp;&nbsp;{{callOut.title}}
        </div>
        <div ng-if="callOut.title.length < 27">
            <img data-ng-if="callOut.icon" ng-src="{{callOut.icon}}" width="24" height="24" style="margin-left:5px" alt="Icon" /> &nbsp;&nbsp;{{callOut.title}}
        </div>
    </h4>

    <div class="container-fluid rightpanel-tabs" style="position: relative;height:45px">

        <div class="row" style="overflow:hidden" ng-if="callOut.sectionCount() < 3" ng-hide="configMode">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" data-ng-class="{active : $first}" data-ng-repeat="key in callOut.sectionKeys" ng-if="callOut.sections[key].hasProperties()">
                    <a data-target="#rp-{{$index}}" data-toggle="tab" data-ng-if="callOut.sections[key].showSectionIcon()" ng-click="featureTabActivated(key, callOut.sections[key])"><i class="fa {{callOut.sections[key].sectionIcon}}"></i></a>
                    <a data-target="#rp-{{$index}}" data-toggle="tab" data-ng-if="!callOut.sections[key].showSectionIcon()" ng-click="featureTabActivated(key, callOut.sections[key])">{{key}}</a>
                </li>
            </ul>
        </div>

        <div class="row" ng-if="callOut.sectionCount() >= 3" ng-hide="configMode">
            <ul class="nav nav-tabs" id="featureTabs" style="margin-left:10px">
                <li data-toggle="tab" class="active" ng-init="firstCallOutsection=callOut.firstSection()">
                    <a data-target="#rp-0" data-toggle="tab" data-ng-if="firstCallOutsection.showSectionIcon()">
                        <i class="fa {{firstCallOutsection.sectionIcon}}"></i>
                    </a>
                </li>
                <li class="dropdown" ng-init="selectedSection.title=vm.defaultDropdownTitle">
                    <a style="cursor:pointer" data-toggle="dropdown">{{selectedSection.title}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- alphabetic sorting disappeared in 1.4 https://docs.angularjs.org/api/ng/directive/ngRepeat -->
                        <li data-ng-repeat="key in callOut.sectionKeys" ng-if="!($first && callOut.hasInfoSection)">
                            <a data-target="#rp-{{$index}}" ng-click="selectedSection.title = key" data-toggle="tab">{{key}}</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>


    </div>

    <h4 style="position:absolute;right:3px;top:45px">
        <div ng-show="vm.$mapService.isAdminExpert && !feature._gui.editMode" style="float:right">
            <button tooltip-html-unsafe="{{'CONFIG' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-cog leftpanel-header-button" ng-show="!configMode" ng-click="configMode=true" />
            <button tooltip-html-unsafe="{{'DONE' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-check leftpanel-header-button" ng-show="configMode" ng-click="vm.saveFeatureType();configMode=false" />
        </div>
        <div ng-show="!configMode && feature.layer.isDynamic" style="float:right">
            <button tooltip-html-unsafe="{{'EDIT' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-pencil leftpanel-header-button" ng-show="!feature._gui.editMode" ng-click="vm.startEditFeature()"
            />
            <button tooltip-html-unsafe="{{'REMOVE' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-trash leftpanel-header-button" ng-show="!feature._gui.editMode" ng-click="vm.removeFeature()"
            />
            <button tooltip-html-unsafe="{{'SAVE' | translate}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="false" class="button fa fa-check leftpanel-header-button" ng-show="feature._gui.editMode" ng-click="feature._gui.editMode=false;vm.saveFeature()" />
        </div>
    </h4>

    <div ng-if="vm.$mapService.isAdminExpert">
        <div ng-if="configMode" style="margin:5px">
            <feature-type-editor featureTypeId="featureType.id"></feature-type-editor>
        </div>
    </div>
    <!-- <div ng-if="callOut.feature._gui.actions" class="featureProps-actions">
        <ul>
            <li ng-repeat="action in callOut.feature._gui.actions">
                <a class="featureProps-action" ng-click="action.callback(callOut.feature, vm.$layerService);">{{action.title}}</a>
            </li>
        </ul>
    </div> -->
    <div ng-hide="configMode" class="tab-content" style="top:50px; overflow-y: auto; overflow-x: hidden" resize resize-y="150">
        <div class="tab-pane" data-ng-class="{active : $first}" id="rp-{{$index}}" data-ng-repeat="key in callOut.sectionKeys">

            <!--<td>
                    <span class="dropdown">
                        <a href class="fa fa-circle-o makeNarrow dropdown-toggle"></a>
                        <ul class="dropdown-menu">
                            <li><a data-ng-click="vm.$layerService.createScatter(item)">scatter plot</a></li>
                            <li><a>add to dashboard</a></li>
                        </ul>
                    </span>
                </td>-->
            <div class="panel-group" id="accordion">
                <form name="form" class="css-form" style="padding-bottom:40px" novalidate>
                    <div class="panel feature-prop-property" popover="{{(item.description) ? item.description : ''}}" popover-placement="left"
                    popover-trigger="mouseenter" popover-append-to-body="true" data-ng-repeat="item in callOut.sections[key].properties">
                        <div ng-show="feature._gui.editMode" class="property-edit">
                            <div>
                                <div>{{item.propertyType.title}}</div>
                                <ng-form name="userFieldForm">
                                    <div ng-switch="item.propertyType.type">
                                        <input ng-switch-when="date" type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="item.feature.properties[item.property]"
                                        is-open="false" />
                                        <input ng-switch-when="number" type="number" name="number" data-ng-model="item.feature.properties[item.property]" class="form-control">
                                        <p class="not-valid-input" ng-show="userFieldForm.number.$invalid">Not a valid number</p>
                                        <textarea ng-switch-when="textarea" data-ng-model="item.feature.properties[item.property]" class="form-control" />
                                        <input ng-switch-when="tags" type="text" name="tags" ng-list="," data-ng-model="item.feature.properties[item.property]">
                                        <div ng-switch-when="boolean">
                                            <input type="checkbox" data-ng-model="item.feature.properties[item.property]" id="booledit-{{item.property}}" />
                                            <label for="booledit-{{item.property}}">{{item.propertyType.title}}</label>
                                        </div>
                                        <input ng-switch-when="text" type="text" data-ng-model="item.feature.properties[item.property]" class="form-control" />
                                    </div>
                                </ng-form>
                            </div>
                        </div>

                        <!-- Currently-styled-property background gray -->
                        <div ng-show="!feature._gui.editMode" class="panel-heading feature-prop-item" ng-style="(item.feature._gui['style'][item.property]) && {'border':'1px solid blue', 'background': 'lightgray'}">
                            <!-- Currently-styled-property background styleColor -->
                            <!-- <div ng-show="!feature._gui.editMode" class="panel-heading" style="border-radius: 3px; min-height: 36px; border: none;" ng-style="(item.feature._gui['style'][item.property]) && {'border':'1px solid blue', 'background': item.feature._gui.style[item.property]}"> -->
                            <div data-ng-switch="item.propertyType.type">
                                <div ng-switch-when="layer">
                                    <a ng-click="vm.openLayer(item)">{{item.propertyType.title}}</a>
                                </div>
                                <div ng-switch-default>
                                    <div class="feature-prop-title">{{item.propertyType.title}}</div>
                                    <div ng-hide="item.isSensor" ng-if="!item.configMode" data-ng-switch="item.propertyType.type" class="feature-prop-value">
                                        <div ng-switch-when="date" class="feature-prop-value-align-right" style="cursor:pointer;color:darkblue" ng-click="vm.zoomToDate(item.feature.properties[item.property])">
                                            {{vm.getFormattedDate(item.feature.properties[item.property], item.propertyType)}}</div>
                                        <div ng-switch-when="boolean" class="feature-prop-value-align-right">{{item.feature.properties[item.property]}}</div>
                                        <div ng-switch-when="category" class="feature-prop-value-align-right">{{vm.toTrusted(item.feature.properties[item.property])}}</div>
                                        <div ng-switch-when="textarea" style="clear:both" data-ng-bind-html="vm.toTrusted(item.feature.properties[item.property])"></div>
                                        <div ng-switch-when="bbcode" class="feature-prop-value-align-right" ng-bind-html="vm.toTrusted(item.value)"></div>
                                        <div ng-switch-when="media">
                                            <!-- <img ng-src="{{item.feature.properties[item.property]}}" style="width:300px; float:left;margin:5px"></img> -->
                                            <div ng-repeat="media in item.feature.properties[item.property]">
                                                <img ng-src="{{media}}" style="width:300px;float:left;margin:5px">
                                            </div>
                                        </div>
                                        <div ng-switch-default class="feature-prop-value-align-right" data-ng-bind-html="vm.toTrusted(item.value)"></div>
                                    </div>
                                    <div class="feature-prop-content" ng-if="!item.configMode">

                                        <div ng-if="item.showMore" data-ng-switch="item.propertyType.type" style="margin-bottom:10px">
                                            <div ng-switch-when="number" class="feature-prop-stats">                                                
                                                <span class="item-stat"><span class="item-stat-title">count</span>
                                                <span class="item-stat-value">{{item.stats.count}}</span></span>
                                                <span class="item-stat"><span class="item-stat-title">min</span>
                                                <span class="item-stat-value">{{item.stats.min}}</span></span>
                                                <span class="item-stat"><span class="item-stat-title">max</span>
                                                <span class="item-stat-value">{{item.stats.max}}</span></span>
                                                <span class="item-stat"><span class="item-stat-title">sum</span>
                                                <span class="item-stat-value" stringy ng-model="item.stats.sum"></span></span>
                                                <span class="item-stat"><span class="item-stat-title">mean</span>
                                                <span class="item-stat-value" stringy ng-model="item.stats.mean"></span></span>
                                                <!-- <button class="button" ng-click="vm.setCorrelation(item,$event)">cor</button> -->
                                            </div>
                                            <!-- <div ng-repeat="(key,cor) in item.cors">
                                                    <div><span>{{key}}</span>:<span>{{cor.value}}</span>
                                                </div> -->

                                        </div>
                                        <div data-ng-if="item.isSensor" style="margin-bottom:10px;margin-top:10px" id="featurepropchart_{{item._id}}">
                                            <!--<sparkline-chart timestamps="item.timestamps" sensor="item.sensor" width="320" height="100" showaxis="true"></sparkline-chart>-->
                                        </div>
                                        <div class="icons-on-hover" ng-if="!item.configMode">
                                            <div class="property-action" style="right:0px">
                                                <a data-ng-if="item.canFilter" data-ng-hide="vm.$layerService.findFilter(item.feature.layer.group, item.property)" class="fa fa-filter makeNarrow"
                                                data-ng-click="vm.setFilter(item,$event)" style="cursor: pointer"></a>
                                                <a data-ng-if="vm.$layerService.findFilter(item.feature.layer.group, item.property)" class="fa fa-filter smallFaIconSelected makeNarrow"
                                                data-ng-show="item.canFilter" data-ng-click="vm.setFilter(item,$event)" style="cursor: pointer"></a>
                                            </div>
                                            <div data-ng-if="item.canStyle" class="property-action" style="left:15px">
                                                <a data-ng-hide="item.feature._gui['style'][item.property]" class="fa fa-paint-brush makeNarrow" data-ng-click="vm.$layerService.toggleStyle(item);vm.selectProperty(item.propertyType,$event)"
                                                style="cursor: pointer"></a>
                                                <a data-ng-show="item.feature._gui['style'][item.property]" class="fa fa-paint-brush smallFaIconSelected makeNarrow" data-ng-click="vm.$layerService.toggleStyle(item);vm.selectProperty(item.propertyType,$event)"
                                                style="cursor: pointer"></a>
                                            </div>
                                            <div ng-if="item.propertyType.type === 'number'" class="property-action" style="left:30px">
                                                <a class="fa fa-calculator makeNarrow" ng-click="item.showMore=!item.showMore;vm.getPropStats(item)" style="cursor: pointer"></a>
                                            </div>
                                            <div ng-if="item.isSensor" class="property-action" style="left:45px">
                                                <a class="fa fa-area-chart makeNarrow" ng-click="vm.createSparkLineChart(item)" style="cursor: pointer"></a>
                                            </div>
                                            <div ng-if="vm.$mapService.isAdminExpert" class="property-action" style="left:60px">
                                                <a class="fa fa-cog makeNarrow" data-toggle="collapse" ng-click="item.configMode=!item.configMode" style="cursor: pointer"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="item.configMode" class="feature-prop-config">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Title</div>
                                                <input type="text" data-ng-model="item.propertyType.title" class=" form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Property</div>
                                                <input type="text" data-ng-model="item.propertyType.label" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Description</div>
                                                <input type="text" data-ng-model="item.propertyType.description" class="form-control">
                                            </div>

                                            <div class="col-md-6">
                                                <div class="rightpanel-label">Type</div>
                                                <select data-ng-model="item.propertyType.type" ng-options="item for item in ['bbcode', 'color', 'date', 'number', 'text']"
                                                class="form-control"></select>
                                            </div>
                                        </div>

                                        <!--<div class="row">
                                            <div class="col-md-6" style="margin-left: 20px;">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" data-ng-model="propertyType.visibleInCallOut" id="visibleInCallOut-{{propertyType.title}}" />
                                                    <label for="visibleInCallOut-{{item.propertyType.title}}">Zichtbaar</label>
                                                </div>
                                            </div>

                                            <div class="col-md-4" style="margin-left: 20px;">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" data-ng-model="propertyType.isSearchable" id="isSearchable-{{propertyType.title}}" />
                                                    <label for="isSearchable-{{item.propertyType.title}}">Vindbaar</label>
                                                </div>
                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="form-inline">
                                                    <div class="rightpanel-label">Section</div>

                                                    <input type="text" ng-enter="addSection(item.propertyType.section)" data-ng-model="item.propertyType.section" style="width: 200px;"
                                                    class="form-control" />
                                                    <div class="btn-group">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <!-- <ul class="dropdown-menu">
                                                <div ng-repeat="section in sections track by $index">
                                                    <div style="cursor: pointer; margin-left: 4px;" data-ng-click="item.propertyType.section=section"><i class="fa fa-angle-right"></i> {{ section }}</div>
                                                </div>
                                            </ul> -->
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="col-md-12" ng-show="item.propertyType.type == 'number'">
                                                <div class="rightpanel-label">Min/max value</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="number" data-ng-model="item.propertyType.min" class="form-control" placeholder="Min">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" data-ng-model="item.propertyType.max" class="form-control" placeholder="Max">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" ng-show="item.propertyType.type == 'number'">
                                                <div class="rightpanel-label">String format</div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" data-ng-model="item.propertyType.stringFormat" class="form-control" placeholder="Stringformat">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="checkbox" id="visibleInCallOut-{{featureType.id}}" ng-model="item.propertyType.visibleInCallout">
                                                <label for="visibleInCallOut-{{featureType.id}}">Show all properties</label>
                                            </div>
                                        </div>


                                        <button class="btn btn-primary rightpanel-button" ng-click="item.configMode=false;vm.savePropertyType(item.propertyType)">{{'SAVE' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Treat last tab (filter) differently -->
        </div>
    </div>
</div>