<div id="dashboard-main" class="dashboard-main">
    <style>
        .backgroundImage {
            /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;
            /* Set up proportionate scaling */
            width: 100%;
            height: auto;
            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;
        }

        .leftpanel-header-button {}

        .opacity1 {
            opacity: 1
        }
    </style>
    <div style="position:relative;width:100%; height:100%">
        <img id="dashboard-background" ng-show="dashboard.showBackgroundImage" class="backgroundImage" ng-src="{{dashboard.backgroundimage}}"></img>

        <ul style="padding:0;height:100%" id="dashboardwidgets">
            <li ng-repeat="widget in dashboard.widgets | filter:{position:'dashboard'}" id="{{widget.elementId}}-container" when-ready="vm.isReady(widget)" class="widget-parent"
                ng-class="{widgethover : widget.hover}" ng-show="!(!vm.$mapService.isAdminExpert && widget.hideIfLeftPanel && vm.$layerService.visual.leftPanelVisible)">
                <div class="widget-container widget-entrance" id="{{widget.elementId}}-parent" ng-class="{widgetShadow : widget.effectiveStyle.shadow === true, container: widget._gridContainer === true}"
                    ng-hide="widget.collapse" ng-style="{'position': (widget._gridContainer ? 'relative' : 'absolute'), 'background' : widget.effectiveStyle.background,
                    'border-color':widget.effectiveStyle.borderColor, 'top':widget._top, 'bottom':widget._bottom, 'left':widget._left, 'z-index' : widget._zindex,
                    'right':widget._right, 'border-width':widget.effectiveStyle.borderWidth, 'border-radius':widget.effectiveStyle.borderRadius,
                    'width':widget._width, 'height':widget._height, 'opacity' : widget.effectiveStyle.opacity, 'padding':widget.padding} ">
                    <div ng-show="widget._interaction " style="position:absolute;width:100%;height:100% ">
                        <div ng-show="widget.left " class="fa fa-chevron-left " style="color:blue;left:-5px;top:50%;position:absolute "></div>
                        <div ng-show="widget.right " class="fa fa-chevron-right " style="color:blue;right:0px;top:50%;position:absolute "></div>
                        <div ng-show="widget.top " class="fa fa-chevron-up " style="color:blue;left:50%;top:-7px;position:absolute "></div>
                        <div ng-show="widget.bottom " class="fa fa-chevron-down " style="color:blue;left:50%;bottom:0;position:absolute "></div>
                    </div>

                    <!-- ,'border-color':widget.borderColor,'border-width':widget.borderwidth,'border-radius':widget.borderradius,'top':widget.top;'bottom':widget.bottom;'left':widget.left;'right':widget.right;'position': absolute;'width':widget.width;'height':widget.height} -->
                    <!-- <div class="widget-container widget-entrance " ng-hide="widget.collapse " style="background:{{widget.background}};border-color:{{widget.borderColor}};border-width:{{widget.borderwidth}};border-radius:{{widget.borderradius}};top:
                    {{widget.top}};bottom: {{widget.bottom}};left:{{widget.left}};right:{{widget.right}};position: absolute;width:{{widget.width}};height:{{widget.height}} "> -->
                    <div id="{{widget.elementId}} " class="box-content " style="width:100%;height:100% ">
                    </div>
                    <div>

                        </div>
                        <div ng-if="widget.data.description" uib-popover="{{widget.data.description}}"  popover-placement="left" popover-trigger="'mouseenter'" popover-append-to-body="true" style="position:absolute;right:20px;top:3px;width:30px;height:25px;padding:5px;cursor:pointer" class="fa fa-info"></div>
                        <div style="position:absolute;right:-5px;top:3px " ng-hide="widget._options.length==0">
                           <div class="fa fa-ellipsis-v dropdown-toggle pull-right" style="width:30px;height:25px;padding:5px;cursor:pointer" ng-click="vm.getOptions(widget)" data-toggle="dropdown">
                           </div>
                           <ul class="dropdown-menu pull-right" style="height: auto !important;overflow: visible !important;margin-top:-5px">
                               <li class="dropdown-item" ng-repeat="option in widget._options"><a ng-click="vm.triggerOption(option,widget)">{{option.title}}</a></li>
                             <!--<li class="dropdown-item"><a ng-click="vm.takeScreenshot(widget)">Save image</a><fa name="{{o.icon}} " class="dropdown-item-icon " /></li>
                             <li ng-if="vm.$mapService.isAdminExpert" class="dropdown-item"><a ng-click="vm.$dashboardService.editWidget(widget) " ng-class="{opacity1 : vm.$dashboardService.activeWidget==widget}">Settings</a></li>-->
                           </ul>
                        </div>
                </div>
            </li>
        </ul>
        <!--<div id="dashboard-widget-fullscreen" class="widget-fullscreen" ng-show="dashboard._fullScreenWidget">

        </div>-->
    </div>
</div>
