<div>
    <h4 class="leftpanel-header" translate="FILTERS"></h4>
    <div ng-show="vm.$layerService.noFilters" translate="FILTER_INFO"></div>
    <a ng-hide="vm.$layerService.noFilters" ng-click="vm.$layerService.resetFilters()">
        <span class="fa fa-refresh"></span> reset</a>
    <div id="filterChart"></div>

    <div style="overflow-y: auto; overflow-x: hidden; margin-top: -10px" resize resize-y="95">
        <div data-ng-repeat="group in vm.$layerService.project.groups" data-ng-show="group.filters.length>0" style="margin-left: 5px">
            <div style="float: left; margin-left: -5px; margin-top: 5px" data-toggle="collapse" data-target="#filtergroup_{{group.id}}"><i class="fa fa-chevron-down togglebutton toggle-arrow-down"></i><i class="fa fa-chevron-up togglebutton toggle-arrow-up"></i></div>
            <div class="group-title">{{group.title}}</div>
            <div id="filtergroup_{{group.id}}" class="collapse in">
              <div data-ng-repeat="filter in group.filters">
                  <txt2 ng-if="filter.filterType == 'text'"></txt2>
                  <bar-filter ng-if="filter.filterType == 'bar'"></bar-filter>
            </div>
        </div>
    </div>
</div>
