<div style="position: relative;">
    <h4 class="leftpanel-header" translate="FEATURES"></h4>
    <div class="has-feedback" style="padding:10px 4px 4px 4px;">
        <span style="direction: ltr; position: static; display: block;">
            <input id="searchbox" data-ng-model="featureFilter.properties" type="text"
                   placeholder="Filter" autocomplete="off" spellcheck="false"
                   style="position: relative; vertical-align: top;" class="form-control tt-input">
        </span>
        <span id="searchicon" class="fa form-control-feedback fa-filter" style="padding-top: 10px;"></span>
    </div>

    <table class="table table-striped table-condensed">
        <!--vm.$layerService.features-->
        <tr dir-paginate="feature in vm.$layerService.project.features | filter:featureFilter | orderBy:\'properties.Name\' | itemsPerPage: numberOfItems "
            data-ng-click="vm.$mapService.zoomTo(feature);vm.$layerService.selectFeature(feature);" style="cursor: pointer; height: 50px; vertical-align: central">
            <!--<td>Icon</td>-->
            <td>{{ feature.properties.Name }}</td>
            <td>
                <i class="fa fa-chevron-right pull-right"></i>
            </td>
        </tr>
    </table>

    <dir-pagination-controls style="position: absolute; bottom: -80px;" max-size="6" boundary-links="false" direction-links="false" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div>
